config ICST
	bool

config SA1111
	bool
	select DMABOUNCE if !ARCH_PXA

config DMABOUNCE
	bool
	select ZONE_DMA

config SHARP_LOCOMO
	bool

config SHARP_PARAM
	bool

config SHARP_SCOOP
	bool

config FIQ_GLUE
	bool
	select FIQ

config GIC_SET_MULTIPLE_CPUS
	bool "Use affinity hint to allow multiple CPUs for IRQ"
	depends on ARM_GIC && SMP
	default n
	help
	  IRQ affinity is always set by gic to the 1st cpu in the requested
	  mask. If this option is enabled, affinity is also set to all cpus
	  present in affinity_hint and requested masks.
