config TEGRA_NVADSP
	bool "Enable Host ADSP driver"
	depends on ARCH_TEGRA_APE
	default n
	help
	  Enables support for Host ADSP driver.

	  If unsure, say N

config TEGRA_APE_AGIC
	bool "Enable AGIC interrupt controller"
	depends on ARCH_TEGRA_APE
	default n
	help
	  The AGIC interrupt controller is based on GIC 400. Use this
	  controller if the tegra platform needs interrupts from/to
	  APE modules.

	  If unsure, say N

config TEGRA_NVADSP_ON_SMMU
	bool "Use SMMU to relocate ADSP"
	depends on TEGRA_IOMMU_SMMU && TEGRA_NVADSP
	default y
	help
	  Use SMMU to relocate ADSP OS.

config TEGRA_ADSP_DFS
	bool "Enable ADSP DFS"
	depends on ARCH_TEGRA_APE
	default y
	help
	  Enable ADSP dynamic frequency scaling.

	  If unsure, say N

config TEGRA_EMC_APE_DFS
	bool "Enable emc dfs due to APE"
	depends on ARCH_TEGRA_APE
	default y
	help
	  Enable emc dfs due to APE DRAM access

	  If unsure, say N
