/ {
	i2c@7000c400 {
		ina219@40{
			compatible = "ina219x";
			reg = <0x40>;
			ti,rail-name = "VDD_12V_DCIN_RS";
			ti,continuous-config = <0x3FFF>;
			ti,trigger-config = <0x01DB>;
			ti,calibration-data = <0xAEC0>;
			ti,power-lsb = <1831>;
			ti,divisor = <20>;
			ti,shunt-resistor-mohm = <10>;
			ti,precision-multiplier = <1000>;
		};

		ina219@41{
			compatible = "ina219x";
			reg = <0x41>;
			ti,rail-name = "VDD_AC_BAT_VIN1";
			ti,continuous-config = <0x3FFF>;
			ti,trigger-config = <0x01DB>;
			ti,calibration-data = <0xFFFE>;
			ti,power-lsb = <1250>;
			ti,divisor = <20>;
			ti,shunt-resistor-mohm = <10>;
			ti,precision-multiplier = <1000>;
		};

		ina219@42{
			compatible = "ina219x";
			reg = <0x42>;
			ti,rail-name = "VDD_5V0_SYS";
			ti,continuous-config = <0x3FFF>;
			ti,trigger-config = <0x01DB>;
			ti,calibration-data = <0xFFFE>;
			ti,power-lsb = <2500>;
			ti,divisor = <20>;
			ti,shunt-resistor-mohm = <5>;
			ti,precision-multiplier = <1000>;
		};

		ina219@43{
			compatible = "ina219x";
			reg = <0x43>;
			ti,rail-name = "VDD_3V3_SYS";
			ti,continuous-config = <0x3FFF>;
			ti,trigger-config = <0x01DB>;
			ti,calibration-data = <0xFFFE>;
			ti,power-lsb = <2500>;
			ti,divisor = <20>;
			ti,shunt-resistor-mohm = <5>;
			ti,precision-multiplier = <1000>;
		};

		ina219@44{
			compatible = "ina219x";
			reg = <0x44>;
			ti,rail-name = "VDD_3V3_SYS_VIN4_5_7";
			ti,continuous-config = <0x3FFF>;
			ti,trigger-config = <0x01DB>;
			ti,calibration-data = <0xFFFE>;
			ti,power-lsb = <1250>;
			ti,divisor = <20>;
			ti,shunt-resistor-mohm = <10>;
			ti,precision-multiplier = <1000>;
		};

		ina219@45{
			compatible = "ina219x";
			reg = <0x45>;
			ti,rail-name = "AVDD_USB_HDMI";
			ti,continuous-config = <0x3FFF>;
			ti,trigger-config = <0x01DB>;
			ti,calibration-data = <0xFFFE>;
			ti,power-lsb = <1250>;
			ti,divisor = <20>;
			ti,shunt-resistor-mohm = <10>;
			ti,precision-multiplier = <1000>;
		};

		ina219@46{
			compatible = "ina219x";
			reg = <0x46>;
			ti,rail-name = "VDD_AC_BAT_D1";
			ti,continuous-config = <0x3FFF>;
			ti,trigger-config = <0x01DB>;
			ti,calibration-data = <0x7CD2>;
			ti,power-lsb = <2563>;
			ti,divisor = <20>;
			ti,shunt-resistor-mohm = <10>;
			ti,precision-multiplier = <1000>;
		};

		ina219@47{
			compatible = "ina219x";
			reg = <0x47>;
			ti,rail-name = "VDD_AO_SMPS12_IN";
			ti,continuous-config = <0x3FFF>;
			ti,trigger-config = <0x01DB>;
			ti,calibration-data = <0xAEC0>;
			ti,power-lsb = <1831>;
			ti,divisor = <20>;
			ti,shunt-resistor-mohm = <10>;
			ti,precision-multiplier = <1000>;
		};

		ina219@48{
			compatible = "ina219x";
			reg = <0x48>;
			ti,rail-name = "VDD_3V3_SYS_SMPS45_IN";
			ti,continuous-config = <0x3FFF>;
			ti,trigger-config = <0x01DB>;
			ti,calibration-data = <0xFFFE>;
			ti,power-lsb = <1250>;
			ti,divisor = <20>;
			ti,shunt-resistor-mohm = <10>;
			ti,precision-multiplier = <1000>;
		};

		ina219@49{
			compatible = "ina219x";
			reg = <0x49>;
			ti,rail-name = "VDD_AO_SMPS2_IN";
			ti,continuous-config = <0x3FFF>;
			ti,trigger-config = <0x01DB>;
			ti,calibration-data = <0xFFFE>;
			ti,power-lsb = <1250>;
			ti,divisor = <20>;
			ti,shunt-resistor-mohm = <10>;
			ti,precision-multiplier = <1000>;
		};

		ina219@4a{
			compatible = "ina219x";
			reg = <0x4a>;
			ti,rail-name = "VDDIO_HV_AP";
			ti,continuous-config = <0x3FFF>;
			ti,trigger-config = <0x01DB>;
			ti,calibration-data = <0xFFFE>;
			ti,power-lsb = <1250>;
			ti,divisor = <20>;
			ti,shunt-resistor-mohm = <10>;
			ti,precision-multiplier = <1000>;
		};

		ina219@4b{
			compatible = "ina219x";
			reg = <0x4b>;
			ti,rail-name = "VDD_1V8_LDO3_IN";
			ti,continuous-config = <0x3FFF>;
			ti,trigger-config = <0x01DB>;
			ti,calibration-data = <0xFFFE>;
			ti,power-lsb = <1250>;
			ti,divisor = <20>;
			ti,shunt-resistor-mohm = <10>;
			ti,precision-multiplier = <1000>;
		};

		ina219@4c{
			compatible = "ina219x";
			reg = <0x4c>;
			ti,rail-name = "VDD_3V3_SYS_LDO4_IN";
			ti,continuous-config = <0x3FFF>;
			ti,trigger-config = <0x01DB>;
			ti,calibration-data = <0xFFFE>;
			ti,power-lsb = <1250>;
			ti,divisor = <20>;
			ti,shunt-resistor-mohm = <10>;
			ti,precision-multiplier = <1000>;
		};

		ina219@4d{
			compatible = "ina219x";
			reg = <0x4d>;
			ti,rail-name = "VDD_AO_LDO8_IN";
			ti,continuous-config = <0x3FFF>;
			ti,trigger-config = <0x01DB>;
			ti,calibration-data = <0xFFFE>;
			ti,power-lsb = <1250>;
			ti,divisor = <20>;
			ti,shunt-resistor-mohm = <10>;
			ti,precision-multiplier = <1000>;
		};

		ina219@4e{
			compatible = "ina219x";
			reg = <0x4e>;
			ti,rail-name = "VDD_1V8_AP";
			ti,continuous-config = <0x3FFF>;
			ti,trigger-config = <0x01DB>;
			ti,calibration-data = <0xFFFE>;
			ti,power-lsb = <1250>;
			ti,divisor = <20>;
			ti,shunt-resistor-mohm = <10>;
			ti,precision-multiplier = <1000>;
		};

		ina219@4f{
			compatible = "ina219x";
			reg = <0x4f>;
			ti,rail-name = "VDD_1V8_DSM";
			ti,continuous-config = <0x3FFF>;
			ti,trigger-config = <0x01DB>;
			ti,calibration-data = <0xFFFE>;
			ti,power-lsb = <1250>;
			ti,divisor = <20>;
			ti,shunt-resistor-mohm = <10>;
			ti,precision-multiplier = <1000>;
		};
	};
};
