/ {
	i2c@7000c400 {

		pca9546@71 {
			compatible = "nxp,pca9546";
			reg = <0x71>;
			#address-cells = <1>;
			#size-cells = <0>;

			i2c@0 {
				reg = <0>;
				i2c-mux,deselect-on-exit;
			};

			i2c@1 {
				reg = <1>;
				i2c-mux,deselect-on-exit;
				#address-cells = <1>;
				#size-cells = <0>;

				ina230@40{
					compatible = "ina230x";
					reg = <0x40>;
					ti,rail-name = "VDD_SYS_SUM";
					ti,continuous-config = <0x0407>;
					ti,trigger-config = <0x0403>;
					ti,calibration-data = <0x369C>;
					ti,power-lsb = <3051>;
					ti,divisor = <25>;
					ti,precision-multiplier = <1000>;
				};

				ina230@41{
					compatible = "ina230x";
					reg = <0x41>;
					ti,rail-name = "VDD_SYS_SMPS123";
					ti,continuous-config = <0x0407>;
					ti,trigger-config = <0x0403>;
					ti,calibration-data = <0x2BB0>;
					ti,power-lsb = <2288>;
					ti,divisor = <25>;
					ti,precision-multiplier = <1000>;
				};

				ina230@42{
					compatible = "ina230x";
					reg = <0x42>;
					ti,rail-name = "VDD_SYS_SMPS45";
					ti,continuous-config = <0x0407>;
					ti,trigger-config = <0x0403>;
					ti,calibration-data = <0x4188>;
					ti,power-lsb = <1525>;
					ti,divisor = <25>;
					ti,precision-multiplier = <1000>;
				};

				ina230@43{
					compatible = "ina230x";
					reg = <0x43>;
					ti,rail-name = "VDD_SYS_SMPS6";
					ti,continuous-config = <0x0407>;
					ti,trigger-config = <0x0403>;
					ti,calibration-data = <0x2BB0>;
					ti,power-lsb = <381>;
					ti,divisor = <25>;
					ti,precision-multiplier = <1000>;
				};

				ina230@44{
					compatible = "ina230x";
					reg = <0x44>;
					ti,rail-name = "VDD_SYS_SMPS7";
					ti,continuous-config = <0x0407>;
					ti,trigger-config = <0x0403>;
					ti,resistor = <50>;
					ti,calibration-data = <0x2BB0>;
					ti,power-lsb = <228>;
					ti,divisor = <25>;
					ti,precision-multiplier = <1000>;
				};

				ina230@45{
					compatible = "ina230x";
					reg = <0x45>;
					ti,rail-name = "VDD_SYS_SMPS8";
					ti,continuous-config = <0x0407>;
					ti,trigger-config = <0x0403>;
					ti,calibration-data = <0x2BB0>;
					ti,power-lsb = <228>;
					ti,divisor = <25>;
					ti,precision-multiplier = <1000>;
				};

				ina230@46{
					compatible = "ina230x";
					reg = <0x46>;
					ti,rail-name = "VDD_SYS_BL";
					ti,continuous-config = <0x0407>;
					ti,trigger-config = <0x0403>;
					ti,calibration-data = <0x4188>;
					ti,power-lsb = <152>;
					ti,divisor = <25>;
					ti,precision-multiplier = <1000>;
				};

				ina230@47{
					compatible = "ina230x";
					reg = <0x47>;
					ti,rail-name = "VDD_SYS_LDO8";
					ti,continuous-config = <0x0407>;
					ti,trigger-config = <0x0403>;
					ti,calibration-data = <0x2D82>;
					ti,power-lsb = <54>;
					ti,divisor = <25>;
					ti,precision-multiplier = <1000>;
				};

				ina230@48{
					compatible = "ina230x";
					reg = <0x48>;
					ti,rail-name = "VDD_MMC_LDO9";
					ti,continuous-config = <0x0407>;
					ti,trigger-config = <0x0403>;
					ti,calibration-data = <0x51EA>;
					ti,power-lsb = <30>;
					ti,divisor = <25>;
					ti,precision-multiplier = <1000>;
				};

				ina230@49{
					compatible = "ina230x";
					reg = <0x49>;
					ti,rail-name = "VDD_5V0_LDOUSB";
					ti,continuous-config = <0x0407>;
					ti,trigger-config = <0x0403>;
					ti,calibration-data = <0x2F7D>;
					ti,power-lsb = <52>;
					ti,divisor = <25>;
					ti,precision-multiplier = <1000>;
				};

				ina230@4b{
					compatible = "ina230x";
					reg = <0x4b>;
					ti,rail-name = "VDD_1V8_AP";
					ti,continuous-config = <0x0407>;
					ti,trigger-config = <0x0403>;
					ti,calibration-data = <0x4FEB>;
					ti,power-lsb = <125>;
					ti,divisor = <25>;
					ti,precision-multiplier = <1000>;
				};

				ina230@4c{
					compatible = "ina230x";
					reg = <0x4c>;
					ti,rail-name = "VDD_MMC_LCD";
					ti,continuous-config = <0x0407>;
					ti,trigger-config = <0x0403>;
					ti,calibration-data = <0x346D>;
					ti,power-lsb = <47>;
					ti,divisor = <25>;
					ti,precision-multiplier = <1000>;
				};

				ina230@4e{
					compatible = "ina230x";
					reg = <0x4e>;
					ti,rail-name = "VDDIO_HSIC_BB";
					ti,continuous-config = <0x0407>;
					ti,trigger-config = <0x0403>;
					ti,calibration-data = <0x6D39>;
					ti,power-lsb = <9>;
					ti,divisor = <25>;
					ti,precision-multiplier = <1000>;
				};

				ina230@4f{
					compatible = "ina230x";
					reg = <0x4f>;
					ti,rail-name = "AVDD_PLL_BB";
					ti,continuous-config = <0x0407>;
					ti,trigger-config = <0x0403>;
					ti,calibration-data = <0x7FFF>;
					ti,power-lsb = <7>;
					ti,divisor = <25>;
					ti,precision-multiplier = <1000>;
				};
			};

			i2c@2 {
				reg = <2>;
				i2c-mux,deselect-on-exit;
				#address-cells = <1>;
				#size-cells = <0>;
				ina230@49{
					compatible = "ina230x";
					reg = <0x49>;
					ti,rail-name = "AVDD_1V05_LDO1";
					ti,continuous-config = <0x0407>;
					ti,trigger-config = <0x0403>;
					ti,calibration-data = <0x7FFF>;
					ti,power-lsb = <195>;
					ti,divisor = <25>;
					ti,precision-multiplier = <1000>;
				};

				ina230@4c{
					compatible = "ina230x";
					reg = <0x4c>;
					ti,rail-name = "VDDIO_1V8_BB";
					ti,continuous-config = <0x0407>;
					ti,trigger-config = <0x0403>;
					ti,calibration-data = <0x7FFF>;
					ti,power-lsb = <78>;
					ti,divisor = <25>;
					ti,precision-multiplier = <1000>;
				};
			};

			i2c@3 {
				reg = <3>;
				i2c-mux,deselect-on-exit;
			};
		};
	};
};

