
# Copyright (c) 2012-2014, NVIDIA CORPORATION.  All rights reserved.
#
# This program is free software; you can redistribute it and/or modify it
# under the terms and conditions of the GNU General Public License,
# version 2, as published by the Free Software Foundation.
#
# This program is distributed in the hope it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
# FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
# more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.

comment "NVIDIA Tegra options"

config TEGRA_CLK_FRAMEWORK
	bool "Tegra clock framework"
	default y
	help
	  Enable Tegra clock framework.

config TEGRA_MC
	bool "Tegra MC"
	default y
	help
	  Enable Tegra MC.

config TEGRA_MC_DOMAINS
	bool "Enable Tegra MC PM domain"
	depends on TEGRA_MC
	depends on PM_GENERIC_DOMAINS
	default n
	help
	  When enabled, clock gates MC when it's not needed.

config TEGRA_WAKEUP_MONITOR
	bool "Enable tegra wakeup monitor"
	depends on PM_SLEEP && ANDROID_INTF_ALARM_DEV
	help
	  This option enables support for the monitor of tegra wakeups, it will
	  send out wakeup source and uevents which indicate suspend_prepare and
	  post_suspend.

config TEGRA_COMMON
	bool "Tegra common support"
	default y
	help
	  Enable Tegra common support.

config TEGRA_DEVICES
	bool "Tegra devices"
	default y
	help
	  Enable misc Tegra devices.

config TEGRA_BOOTLOADER_DEBUG
	tristate "Creates sys-fs interface dumping registers read by bootloader"
	default n
	help
	  When enabled, tegra_bootloader_verify_regs sys-fs is created.

config TEGRA_BPMP_SCLK_SKIP
	bool "Let bpmp firmware own the sclk skipper h/w"
	depends on TEGRA_BPMP && ARCH_TEGRA_21x_SOC
	default n
	help
	  When enabled, sclk skipper set rate will be delegated to bpmp firmware

config TEGRA_CBUS_CAN_USE_SKIPPERS
	bool "Allow to use clock skippers on cbus users"
	depends on ARCH_TEGRA_21x_SOC
	default n
	help
	  When enabled, clock skippers for cbus modules can be used to provide
	  fine granularity clock rate control

config TEGRA_CAMERA_MIPI_CAL
	bool "Tegra camera MIPI calibration"
	default y
	help
	  Enable Tegra camera MIPI calibration.
