/*
 * Copyright (c) 2014, NVIDIA CORPORATION.  All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
 * more details.
 */

#include "tegra210-hawkeye-pmic-p2290-1100-a00.dtsi"
#include "tegra210-hawkeye-fixed-p2290-1100-a00.dtsi"
#include "tegra210-ers-power-dvfs-e2174-1101-a00.dtsi"

/ {

	dfll-ovr@70110000 {
		status = "disabled";
	};

	dfll-max77621@70110000 {
		status = "okay";
	};

	pwm_regulators {
		pwm-regulator@0 {
			status = "disabled";
		};

		pwm-regulator@1 {
			status = "disabled";
		};
	};

	dvfs_rails {
		vdd-cpu-rail-ovr@0 {
			status = "disabled";
		};

		vdd-gpu-rail-ovr@1 {
			status = "disabled";
		};

		vdd-cpu-rail-max77621@2 {
			status = "okay";
		};

		vdd-gpu-rail-max77621@3 {
			status = "okay";
		};
	};

	udc@7d000000 {
		avdd_usb-supply = <&vdd_3v3>;
		avdd_pll_utmip-supply = <&max77620_sd3>;
		usb_bat_chg-supply = <&battery_charger>;
	};

	otg@7d000000 {
		usb_vbus-supply = <&usb0_vbus>;
	};

	ehci@7d000000 {
		avdd_usb-supply = <&vdd_3v3>;
		avdd_pll_utmip-supply = <&max77620_sd3>;
		usb_vbus-supply = <&usb0_vbus>;
	};

	modem {
		vdd-supply = <&tps61280>;
	};

	sdhci@700b0600 {
		vddio_sdmmc-supply = <&max77620_sd3>; /* SDMMC4 for EMMC on hawkeye */
		vddio_sd_slot-supply = <&vdd_3v3>;
	};

	sdhci@700b0400 {
		vddio_sdmmc-supply = <&max77620_ldo2>; /* SDMMC3 for SD card on hawkeye */
		vddio_sd_slot-supply = <&vdd_sdcard>;
	};

	sdhci@700b0200 {
		vddio_sdmmc-supply = <&max77620_sd3>; /* SDMMC2 for Wifi on hawkeye */
		vddio_sd_slot-supply = <&vdd_3v3>;
	};

	sdhci@700b0000 {
		vddio_sdmmc-supply = <&max77620_sd3>; /* SDMMC1 for 2nd Wifi on hawkeye */
		vddio_sd_slot-supply = <&vdd_3v3>;
	};
};
