/*
 * Copyright (c) 2015, NVIDIA CORPORATION.  All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
 * more details.
 *
 * You should have received a copy of the GNU General Public License along
 * with this program; if not, write to the Free Software Foundation, Inc.,
 * 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
 */
/ {
	i2c@7000c400 {
		ina226_1@44 {
			status = "okay";
			compatible = "ti,ina226x";
			reg = <0x44>;
			ti,rail-name = "VDD_GPU";
			ti,continuous-config = <0x0407>;
			ti,trigger-config = <0x0403>;
			ti,calibration-data = <0x00CC>;
			ti,power-lsb = <25>;
			ti,divisor = <25>;
		};
		ina226_2@41{
			status = "okay";
			compatible = "ti,ina226x";
			reg = <0x41>;
			ti,rail-name = "VDD_CPU";
			ti,continuous-config = <0x0407>;
			ti,trigger-config = <0x0403>;
			ti,calibration-data = <0x00CC>;
			ti,power-lsb = <25>;
			ti,divisor = <25>;
		};
		ina226_3@45{
			status = "okay";
			compatible = "ti,ina226x";
			reg = <0x45>;
			ti,rail-name = "VDD_DDR";
			ti,continuous-config = <0x0407>;
			ti,trigger-config = <0x0403>;
			ti,calibration-data = <0x0064>;
			ti,power-lsb = <25>;
			ti,divisor = <25>;
		};
		ina226_4@40{
			status = "okay";
			compatible = "ti,ina226x";
			reg = <0x40>;
			ti,rail-name = "VDD_15V";
			ti,continuous-config = <0x0407>;
			ti,trigger-config = <0x0403>;
			ti,calibration-data = <0x0064>;
			ti,power-lsb = <25>;
			ti,divisor = <25>;
		};
		ina226_5@46{
			status = "okay";
			compatible = "ti,ina226x";
			reg = <0x46>;
			ti,rail-name = "VDD_SYS";
			ti,continuous-config = <0x0407>;
			ti,trigger-config = <0x0403>;
			ti,calibration-data = <0x0A00>;
			ti,power-lsb = <25>;
			ti,divisor = <25>;
		};
		ina226_6@47{
			status = "okay";
			compatible = "ti,ina226x";
			reg = <0x47>;
			ti,rail-name = "VDD_BL";
			ti,continuous-config = <0x0407>;
			ti,trigger-config = <0x0403>;
			ti,calibration-data = <0x0033>;
			ti,power-lsb = <25>;
			ti,divisor = <25>;
		};
	};
};
