/*
 * arch/arm/boot/dts/tegra124-p2360.dts
 *
 * Copyright (c) 2014, NVIDIA CORPORATION.  All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; version 2 of the License.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
 * more details.
 *
 * You should have received a copy of the GNU General Public License along
 * with this program; if not, write to the Free Software Foundation, Inc.,
 * 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
 *
 */

 /dts-v1/;

#include "tegra124.dtsi"
#include <tegra124-platforms/tegra124-vcm30t124-fixed.dtsi>

/ {
	model = "NVIDIA Tegra124 p2360";
	compatible = "nvidia,p2360", "nvidia,tegra124";
	nvidia,dtsfilename = __FILE__;
	#address-cells = <2>;
	#size-cells = <2>;

	chosen {
		nvidia,tegra-hypervisor-mode;
	};

	spi@7000d400 {
		status = "okay";
		spi@0 {
			compatible = "spidev";
			reg = <0>;
			spi-max-frequency = <25000000>;
			/* spi-cpha;
			 * spi-cpol;
			 * spi-cs-high;
			 */
		};
	};

	spi@7000d600 {
		status = "okay";
		spiflash@1 {
			compatible = "s25fl512s";
			reg = <1>;
			spi-max-frequency = <25000000>;
		};
	};

	spi@7000d800 {
		status = "okay";
		spi@0 {
			compatible = "spidev";
			reg = <0>;
			spi-max-frequency = <25000000>;
		};
	};

	spi@7000dc00 {
		status = "okay";
		spi@0 {
			compatible = "spidev";
			reg = <0>;
			spi-max-frequency = <25000000>;
		};
	};

	pcie-controller {
		nvidia,port0_status = <1>;
		nvidia,port1_status = <1>;
		status = "okay";
	};

	sdhci@700b0600 {
		tap-delay = <0x4>;
		trim-delay = <0x4>;
		ddr-trim-delay = <0x4>;
		mmc-ocr-mask = <0>;
		uhs_mask = <0x40>;
		bus-width = <8>;
		built-in;
		ddr-clk-limit = <51000000>;
		max-clk-limit = <200000000>;
		vmmc-supply = <&vmmc>;
		pll_source = "pll_m", "pll_p";
		status = "okay";
	};
};
