/*
 * arch/arm/boot/dts/tegra124-p2360.dts
 *
 * Copyright (c) 2014, NVIDIA CORPORATION.  All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; version 2 of the License.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
 * more details.
 *
 * You should have received a copy of the GNU General Public License along
 * with this program; if not, write to the Free Software Foundation, Inc.,
 * 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
 *
 */

 /dts-v1/;

#include "tegra124-vcm30_t124.dtsi"
#include <tegra124-platforms/tegra124-vcm30-t124-hdmi.dtsi>

/ {
	model = "NVIDIA Tegra124 p2360";
	compatible = "nvidia,p2360", "nvidia,tegra124";
	nvidia,dtsfilename = __FILE__;
	#address-cells = <2>;
	#size-cells = <2>;

	host1x {
		/* tegradc.0 */
		dc@54200000 {
			nvidia,emc-clk-rate = <300000000>;
			nvidia,fb-bpp = <32>; /* bits per pixel */
			status = "okay";
		};
		hdmi {
			nvidia,hpd-gpio = <&gpio 0xFFFFFFFF 1>; /* hotplug less HDMI */
			nvidia,edid = [00 FF FF FF FF FF FF 00 04 21 00 00 00 00 00 00
					01 00 01 03 00 00 00 00 00 00 00 00 00 00 00 00
					00 00 00 00 00 00 01 01 01 01 01 01 01 01 01 01
					01 01 01 01 01 01 FE 0C 20 00 31 E0 2D 10 40 40
					43 00 00 00 00 00 00 00 00 00 00 10 00 00 00 00
					00 00 00 00 00 00 00 00 00 00 00 00 00 10 00 00
					00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 10
					00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 61];
		};
	};

	serial@70006040 {
		compatible = "nvidia,tegra20-uart";
		console-port;
		status = "okay";
	};

	spi@7000d400 {
		status = "okay";
	};

	spi@7000d600 {
		status = "okay";
		spiflash@1 {
			compatible = "s25fl512s";
			reg = <1>;
			spi-max-frequency = <25000000>;
		};
	};

	spi@7000d800 {
		status = "okay";
	};

	spi@7000dc00 {
		status = "okay";
	};

	pcie-controller {
		status = "okay";

		pci@1,0 {
			status = "okay";
		};

		pci@2,0 {
			status = "okay";
		};
	};

	sdhci@700b0600 {
		status = "okay";
	};
};
