/*
 * Need this file to avoid OTA issue.
 */
#include "tegra124-tn8-p1761-1270-a03.dts"
#include "tegra124-platforms/tegra124-tn8-usb-devices.dtsi"
#include <dt-bindings/iio/meter/ina3221x.h>

/ {
	nvidia,dtsfilename = __FILE__;

	i2c@7000c400 {
		lc709203f@0b {
			status = "okay";
			onsemi,kernel-threshold-soc = <2>;
			onsemi,kernel-maximum-soc = <99>;
			io-channels = <&ina3221x INA3221_CHAN_INDEX(0, CURRENT, NORMAL)>;
			io-channel-names = "battery-current";
		};

		hpa2163@6b {
			charger {
				status = "okay";
				ti,charge-voltage-limit-millivolt = <4352>;
				ti,temp-range = <10 15 25 45 60>;
				ti,charge-thermal-voltage-limit = <4352 4352 4352 4352 4200>;
				ti,charge-current-limit = <1040 1040 2600 5200 2600>;
				ti,soc-range = <50 60 70 80 85 90 95 101>;
				ti,input-voltage-soc-limit = <4200 4280 4360 4440 4520 4600 4680 4760>;
				ti,charge-term-current-limit-milliamp = <1>;
			};
		};
	};

	usb-devices {
		maxim-charger {
			maxim,max-board-vbus-voltage-uv = <12000000>;
		};
	};
};
