/*
 * Copyright (c) 2014, NVIDIA CORPORATION.  All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify it
 * under the terms and conditions of the GNU General Public License,
 * version 2, as published by the Free Software Foundation.
 *
 * This program is distributed in the hope it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
 * more details.
 */

/dts-v1/;

#include "tegra124.dtsi"
#include <dt-bindings/gpio/tegra-gpio.h>
#include <tegra124-platforms/tegra124-loki-gpio-default.dtsi>
#include <tegra124-platforms/tegra124-loki-pinmux.dtsi>
#include "tegra124-platforms/tegra124-loki-sensor.dtsi"
#include "panel-j-720p-5-0.dtsi"
#include "panel-l-720p-5-0.dtsi"
#include "panel-j-1440-810-5-8.dtsi"
#include <tegra124-platforms/tegra124-loki-hdmi-e2548-1000-a00.dtsi>

/ {
	model = "NVIDIA Tegra124 Loki";
	compatible = "nvidia,loki", "nvidia,tegra124";
	nvidia,dtsfilename = __FILE__;
	#address-cells = <2>;
	#size-cells = <2>;

	chosen {
		bootargs = "tegraid=40.0.0.00.00 vmalloc=256M video=tegrafb console=ttyS0,115200n8 earlyprintk";
		linux,initrd-start = <0x85000000>;
		linux,initrd-end = <0x851bc400>;
	};

	serial@70006000 {
		compatible = "nvidia,tegra114-hsuart";
		status = "okay";
	};

	serial@70006040 {
		compatible = "nvidia,tegra114-hsuart";
		status = "okay";
	};

	serial@70006200 {
		compatible = "nvidia,tegra114-hsuart";
		status = "okay";
	};

	serial@70006300 {
		compatible = "nvidia,tegra20-uart", "nvidia,tegra114-hsuart";
		console-port;
		sqa-automation-port;
		status = "okay";
	};

	memory@0x80000000 {
		device_type = "memory";
		reg = <0x0 0x80000000 0x0 0x80000000>;
	};

	host1x {
		/* tegradc.0 */
		dc@54200000 {
			status = "okay";
			nvidia,dc-flags = <TEGRA_DC_FLAG_ENABLED>;
			nvidia,emc-clk-rate = <204000000>;
			nvidia,cmu-enable = <1>;
			nvidia,fb-bpp = <32>; /* bits per pixel */
			nvidia,fb-flags = <TEGRA_FB_FLIP_ON_PROBE>;
		};
		/* tegradc.1 */
		dc@54240000 {
			status = "okay";
			nvidia,dc-flags = <TEGRA_DC_FLAG_ENABLED>;
			nvidia,emc-clk-rate = <300000000>;
			nvidia,cmu-enable = <1>;
			nvidia,fb-bpp = <32>; /* bits per pixel */
			nvidia,fb-flags = <TEGRA_FB_FLIP_ON_PROBE>;
		};
		dsi {
			nvidia,dsi-controller-vs = <DSI_VS_1>;
			status = "okay";
			panel-j-720p-5-0 {
				nvidia,dsi-dpd-pads = <DSIC_DPD_EN DSID_DPD_EN>;
				nvidia,panel-bl-pwm-gpio = <&gpio TEGRA_GPIO(H, 1) 0>; /* PH1 */
				nvidia,panel-rst-gpio = <&gpio TEGRA_GPIO(H, 3) 0>; /* PH3 */
				nvidia,panel-en-gpio = <&gpio TEGRA_GPIO(Q, 2) 0>; /* PQ2 */
				disp-default-out {
					nvidia,out-rotation = <270>;
				};
			};
			panel-j-1440-810-5-8 {
				nvidia,dsi-dpd-pads = <DSIC_DPD_EN DSID_DPD_EN>;
				nvidia,panel-bl-pwm-gpio = <&gpio TEGRA_GPIO(H, 1) 0>; /* PH1 */
				nvidia,panel-rst-gpio = <&gpio TEGRA_GPIO(H, 3) 0>; /* PH3 */
				nvidia,panel-en-gpio = <&gpio TEGRA_GPIO(Q, 2) 0>; /* PQ2 */
			};
			panel-l-720p-5-0 {
				nvidia,dsi-dpd-pads = <DSIC_DPD_EN DSID_DPD_EN>;
				nvidia,panel-bl-pwm-gpio = <&gpio TEGRA_GPIO(H, 1) 0>; /* PH1 */
				nvidia,panel-rst-gpio = <&gpio TEGRA_GPIO(H, 3) 0>; /* PH3 */
				nvidia,panel-en-gpio = <&gpio TEGRA_GPIO(Q, 2) 0>; /* PQ2 */
				nvidia,dsi-init-cmd = <TEGRA_DSI_DELAY_MS 20>,
					<TEGRA_DSI_GPIO_SET TEGRA_GPIO(H, 3) 1>,
					<TEGRA_DSI_PACKET_CMD DSI_GENERIC_LONG_WRITE 0x6 0x0 0x0 0xe0 0x43 0x0 0x80 0x0 0x0 0x0 0x0>,
					<TEGRA_DSI_PACKET_CMD DSI_GENERIC_LONG_WRITE 0x6 0x0 0x0 0xb5 0x34 0x20 0x40 0x0 0x20 0x0 0x0>,
					<TEGRA_DSI_PACKET_CMD DSI_GENERIC_LONG_WRITE 0x6 0x0 0x0 0xb6 0x04 0x74 0x0f 0x16 0x13 0x0 0x0>,
					<TEGRA_DSI_PACKET_CMD DSI_GENERIC_LONG_WRITE 0x3 0x0 0x0 0xc0 0x01 0x08 0x0 0x0>,
					<0x0 DSI_GENERIC_SHORT_WRITE_2_PARAMS 0xc1 0x0 0x0>,
					<TEGRA_DSI_PACKET_CMD DSI_GENERIC_LONG_WRITE 0xa 0x0 0x0 0xc3 0x0 0x09 0x10 0x02 0x0 0x66 0x00 0x13 0x0 0x0 0x0>,
					<TEGRA_DSI_PACKET_CMD DSI_GENERIC_LONG_WRITE 0x6 0x0 0x0 0xc4 0x23 0x24 0x12 0x12 0x60 0x0 0x0>,
					<TEGRA_DSI_PACKET_CMD DSI_GENERIC_LONG_WRITE 0xa 0x0 0x0 0xd0 0x21 0x25 0x67 0x36 0x0a 0x06 0x61 0x23 0x03 0x0 0x0>,
					<TEGRA_DSI_PACKET_CMD DSI_GENERIC_LONG_WRITE 0xa 0x0 0x0 0xd1 0x31 0x25 0x66 0x36 0x05 0x06 0x61 0x23 0x03 0x0 0x0>,
					<TEGRA_DSI_PACKET_CMD DSI_GENERIC_LONG_WRITE 0xa 0x0 0x0 0xd2 0x41 0x26 0x56 0x36 0x0a 0x06 0x61 0x23 0x03 0x0 0x0>,
					<TEGRA_DSI_PACKET_CMD DSI_GENERIC_LONG_WRITE 0xa 0x0 0x0 0xd3 0x51 0x26 0x55 0x36 0x05 0x06 0x61 0x23 0x03 0x0 0x0>,
					<TEGRA_DSI_PACKET_CMD DSI_GENERIC_LONG_WRITE 0xa 0x0 0x0 0xd4 0x41 0x26 0x56 0x36 0x0a 0x06 0x61 0x23 0x03 0x0 0x0>,
					<TEGRA_DSI_PACKET_CMD DSI_GENERIC_LONG_WRITE 0xa 0x0 0x0 0xd5 0x51 0x26 0x55 0x36 0x05 0x06 0x61 0x23 0x03 0x0 0x0>,
					<0x0 DSI_DCS_WRITE_1_PARAM DSI_DCS_SET_ADDR_MODE 0x0b 0x0>,
					<0x0 DSI_GENERIC_SHORT_WRITE_2_PARAMS 0xf9 0x0 0x0>,
					<0x0 DSI_GENERIC_SHORT_WRITE_2_PARAMS 0xc2 0x02 0x0>,
					<TEGRA_DSI_DELAY_MS 20>,
					<0x0 DSI_GENERIC_SHORT_WRITE_2_PARAMS 0xc2 0x06 0x0>,
					<TEGRA_DSI_DELAY_MS 20>,
					<0x0 DSI_GENERIC_SHORT_WRITE_2_PARAMS 0xc2 0x4e 0x0>,
					<TEGRA_DSI_DELAY_MS 100>,
					<0x0 DSI_DCS_WRITE_0_PARAM DSI_DCS_EXIT_SLEEP_MODE 0x0 0x0>,
					<TEGRA_DSI_DELAY_MS 140>,
					<0x0 DSI_GENERIC_SHORT_WRITE_2_PARAMS 0xf9 0x80 0x0>,
					<TEGRA_DSI_DELAY_MS 20>,
					<0x0 DSI_DCS_WRITE_0_PARAM DSI_DCS_SET_DISPLAY_ON 0x0 0x0>;
				nvidia,dsi-n-init-cmd = <28>;
				disp-default-out {
					nvidia,out-rotation = <90>;
				};
			};
		};
	};

	backlight {
		compatible = "pwm-backlight";
		status = "okay";
	};

	i2c@7000c000 {
		battery-charger@6b {
			compatible = "ti,bq2419x";
			reg = <0x6b>;
			interrupt-parent = <&gpio>;
			interrupts = <72 0x0>;
			ti,charging-term-current-mA = <100>;

			vbus {
				regulator-name = "vbus_regulator";
				ti,otg-iusb-gpio = <&gpio TEGRA_GPIO(I, 4) 0>;
				consumers {
					c1 {
						regulator-consumer-supply = "usb_vbus";
						regulator-consumer-device = "tegra-ehci.0";
					};

					c2 {
						regulator-consumer-supply = "usb_vbus";
						regulator-consumer-device = "tegra-otg";
					};
				};
			};

			charger {
				regulator-name = "batt_regulator";
				regulator-max-microamp = <3000000>;
				ti,watchdog-timeout = <40>;
				ti,rtc-alarm-time = <3600>;
				ti,auto-recharge-time = <1800>;
				ti,temp-polling-time-sec = <5>;
				ti,disbale-suspend-during-charging;
				ti,pre-charge-current-limit-milliamp = <768>;
				ti,charge-term-current-limit-milliamp = <384>;
				ti,ir-comp-resister-ohm = <70>;
				ti,ir-comp-voltage-millivolt = <112>;
				ti,thermal-regulation-threshold-degc = <100>;
				consumers {
					c1 {
						regulator-consumer-supply = "usb_bat_chg";
						regulator-consumer-device = "tegra-udc.0";
					};
				};
			};
		};

		battery-gauge@55 {
			compatible = "ti,bq27441";
			reg = <0x55>;
			ti,design-capacity = <7350>;
			ti,design-energy = <27195>;
			ti,taper-rate = <170>;
			ti,terminate-voltage = <3400>;
			ti,v-at-chg-term = <4200>;
			ti,tz-name = "Battery";
		};

	};

	i2c@7000d000 {
		nvidia,bit-banging-xfer-after-shutdown;

		tps65913 {
			extcon {
				extcon-name = "palmas-extcon";
			};
		};
	};

	spi@7000d400 {
		status = "okay";
		spi-max-frequency = <25000000>;
	};

	spi@7000da00 {
		status = "okay";
		spi-max-frequency = <25000000>;
	};

	gps {
		compatible = "mtk,mt3332";
		force-on-gpios = <&gpio TEGRA_GPIO(H, 5) GPIO_ACTIVE_HIGH>;
	};

	pmc@7000e400 {
		status = "okay";
		nvidia,invert-interrupt;
		nvidia,suspend-mode = <3>;
		nvidia,cpu-pwr-good-time = <3500>;
		nvidia,cpu-pwr-off-time = <300>;
		nvidia,core-pwr-good-time = <3845 3845>;
		nvidia,core-pwr-off-time = <2000>;
		nvidia,core-power-req-active-high;
		nvidia,sys-clock-req-active-high;
	};

	xusb@70090000 {
		/* nvidia,uses_external_pmic;
		nvidia,gpio_controls_muxed_ss_lanes; */
		nvidia,gpio_ss1_sata = <0>;
		nvidia,portmap = <0x703>; /* SSP0, SSP1 USB2P0, USB2P1, USBP2 */
		nvidia,ss_portmap = <0x20>; /* SSP0 on USB2P0, SSP1 on USB2P2 */
		nvidia,lane_owner = <6>; /* USB3P0 USB3P1 */
		nvidia,ulpicap = <0>; /* No ulpi support. can we remove */
		status = "okay";
	};
};
