/dts-v1/;

#include "tegra124.dtsi"
#include "tegra124-platforms/tegra124-tn8-keys-e1780-1100-a02.dtsi"
#include "tegra124-platforms/tegra124-pm359-gpio-default.dtsi"
#include "tegra124-platforms/tegra124-pm359-pinmux.dtsi"
#include "tegra124-platforms/tegra124-laguna-power-tree-pm359-0000-a00.dtsi"
#include "tegra124-platforms/tegra124-laguna-powermon-pm358.dtsi"

/ {
	model = "NVIDIA Tegra124 Laguna";
	compatible = "nvidia,laguna", "nvidia,tegra124";
	nvidia,dtsfilename = __FILE__;
	#address-cells = <2>;
	#size-cells = <2>;

	chosen {
		bootargs = "tegraid=40.0.0.00.00 vmalloc=256M video=tegrafb console=ttyS0,115200n8 earlyprintk";
		linux,initrd-start = <0x85000000>;
		linux,initrd-end = <0x851bc400>;
	};

	host1x {
		vi {
			avdd_dsi_csi-supply = <&as3722_ldo2>;
		};
	};

	pinmux@70000868 {
		pinctrl-names = "default", "drive", "unused", "suspend";
		pinctrl-3 = <&pinmux_suspend>;

		/* Change the pin dap_mclk1_req to required configurations */
		unused_lowpower {
			dap_mclk1_req_pee2 {
			nvidia,pins = "dap_mclk1_req_pee2";
			nvidia,function = "sata";
			nvidia,enable-input = <TEGRA_PIN_DISABLE>;
			nvidia,pull = <TEGRA_PIN_PULL_NONE>;
			nvidia,tristate = <TEGRA_PIN_DISABLE>;
			};
		};

		/* On suspend, make dap_mclk1_req to pull up */
		pinmux_suspend: pins_on_suspend {
		dap_mclk1_req_pee2 {
			nvidia,pins = "dap_mclk1_req_pee2";
			nvidia,pull = <TEGRA_PIN_PULL_UP>;
			};
		};
	};

        serial@70006000 {
                compatible = "nvidia,tegra114-hsuart";
                status = "okay";
        };

        serial@70006040 {
                compatible = "nvidia,tegra114-hsuart";
                status = "okay";
        };

        serial@70006200 {
                compatible = "nvidia,tegra114-hsuart";
                status = "okay";
        };

	serial@70006300 {
		compatible = "nvidia,tegra20-uart";
		console-port;
	};

	i2c@7000c000 {
		tmp006@40 {
			compatible = "ti,tmp006";
			reg = <0x40>;
		};
	};

	i2c@7000d000 {
		nvidia,bit-banging-xfer-after-shutdown;
		as3722@40 {
			ams,extcon-name = "as3722-extcon";
		};
	};

	memory@0x80000000 {
		device_type = "memory";
		reg = <0x0 0x80000000 0x0 0x80000000>;
	};

	spi@7000d400 {
		status = "okay";
		spi-max-frequency = <25000000>;
	};

	spi@7000da00 {
		status = "okay";
		spi-max-frequency = <25000000>;
	};

	pmc@7000e400 {
		status = "okay";
		nvidia,invert-interrupt;
		nvidia,suspend-mode = <0>;
		nvidia,cpu-pwr-good-time = <2000>;
		nvidia,cpu-pwr-off-time = <2000>;
		nvidia,core-pwr-good-time = <3845 3845>;
		nvidia,core-pwr-off-time = <2000>;
		nvidia,core-power-req-active-high;
		nvidia,sys-clock-req-active-high;
	};

	pcie-controller {
		nvidia,hot-plug-gpio = <&gpio TEGRA_GPIO(O, 1) 0>;
		nvidia,wake-gpio = <&gpio TEGRA_GPIO(DD, 3) 0>;
		hvdd-pex-supply = <&reg_3v3_supply>;
		hvdd-pex-pll-e-supply = <&reg_3v3_supply>;
		dvddio-pex-supply = <&as3722_sd4>;
		avddio-pex-supply = <&as3722_sd4>;
		avdd-pex-pll-supply = <&as3722_sd4>;
		vddio-pex-ctl-supply = <&as3722_sd4>;
		status = "okay";

		pci@1,0 {
			status = "okay";
		};

		pci@2,0 {
			status = "disabled";
		};
	};

	sata@0x70020000 {
		status = "okay";
		nvidia,pexp-gpio = <&tca6416 9 0>;
		nvidia,enable-sata-port;
		avdd_sata-supply = <&as3722_sd4>;
		vdd_sata-supply = <&as3722_sd4>;
		avdd_sata_pll-supply =<&as3722_sd4>;
		hvdd_sata-supply = <&as3722_gpio2_supply>;
		vddio_pex_sata-supply = <&vdd_ac_bat>;
	};
};
