/* E1784 2GB with Max17048 FG */

#include "tegra124-tn8-e1784-1101-a00-01.dts"

/ {
	nvidia,dtsfilename = __FILE__;

	i2c@7000c400 {
		battery-gauge@36 {
			status = "okay";
		};

		battery-charger@6b {
			charger {
				status = "okay";
			};
		};
	};
};

