
#include "tegra124-tn8-a03-01.dts"
#include "tegra124-platforms/tegra124-tn8-sysedp.dtsi"

/ {
	i2c@7000c000 {
		cw201x@62 {
			status = "okay";
		};

		bq2419x: bq2419x@6b {
			charger {
				status = "okay";
			};
		};
	};
};

