#include "tegra124-ardbeg-e1780-1000-a03-00.dts"

/ {
	nvidia,dtsfilename = __FILE__;

	i2c@7000c400 {
		battery-gauge@0b {
			status = "okay";
		};
		battery-charger@6a {
			status = "okay";
		};
	};
};
