#include "tegra124-ardbeg-a03-00.dts"
#include "tegra124-platforms/tegra124-e1780-e1735-dfll.dtsi"

/ {
	nvidia,boardids = "1780:1000:03:B:3;1735:1000:01:D:3";
	nvidia,dtsfilename = __FILE__;
	nvidia,proc-boardid = "1780:1000:03:B:3";
	nvidia,pmu-boardid = "1735:1000:01:D:3";
};
