#include "tegra124-tn8-p1761-1270-a02.dts"
#include <dt-bindings/iio/meter/ina3221x.h>

/ {
	nvidia,dtsfilename = __FILE__;

	i2c@7000c400 {
		lc709203f@0b {
			status = "okay";
			onsemi,kernel-threshold-soc = <2>;
			io-channels = <&ina3221x INA3221_CHAN_INDEX(0, CURRENT, NORMAL) &palams_gpadc 0>;
			io-channel-names = "battery-current", "batt_id";
		};

		hpa2163@6b {
			charger {
				status = "okay";
			};
		};
	};
};

