/dts-v1/;

#include "tegra124.dtsi"
#include "tegra124-platforms/tegra124-tn8-io.dtsi"
#include "tegra124-platforms/tegra124-tn8-emc.dtsi"
#include "tegra124-platforms/tegra124-tn8-e1736-pmic.dtsi"
#include "tegra124-platforms/tegra124-tn8-e1736-fixed.dtsi"
#include "tegra124-platforms/tegra124-e1780-gpio-default.dtsi"
#include "tegra124-platforms/tegra124-e1780-pinmux.dtsi"
#include "tegra124-platforms/tegra124-e1780-keys.dtsi"
#include "tegra124-platforms/tegra124-e1794-sensor.dtsi"


/ {
	model = "NVIDIA Tegra124 TN8";
	compatible = "nvidia,tn8", "nvidia,tegra124";
	nvidia,dtsfilename = __FILE__;
	#address-cells = <1>;
	#size-cells = <1>;

	chosen {
		bootargs = "tegraid=40.0.0.00.00 vmalloc=256M video=tegrafb console=ttyS0,115200n8 earlyprintk";
		linux,initrd-start = <0x85000000>;
		linux,initrd-end = <0x851bc400>;
	};

	i2c@7000c000 {
		status = "okay";
		clock-frequency = <100000>;

		max17048@36 {
			compatible = "maxim,max17048";
			reg = <0x36>;
			interrupt-parent = <&gpio>;
			interrupts = <133 0x0>;        /* gpio PQ5 */
			tz-name = "battery-temp";
			alert-threshold = <0>;          /* 1% SOC */
			one-percent-alerts = <1>;
			valert-max = <5100>;            /* not use */
			valert-min = <0>;            /* not use */
			vreset-threshold = <2400>;
			vreset-disable = <1>;           /* not use */
			hib-threshold = <48>;           /* 9.984%/hr */
			hib-active-threshold = <128>;   /* 160mV */
			bits = <18>;
			rcomp = <57>;
			rcomp-seg = <0x0200>;
			soccheck-a = <119>;
			soccheck-b = <121>;
			ocvtest = <55952>;
			data-tbl = <0x98 0x80 0xB3 0x50 0xB7 0x90 0xB9 0x00
				0xBA 0x70 0xBC 0x10 0xBC 0x50 0xBC 0xA0
				0xBD 0x20 0xBE 0x30 0xBF 0x40 0xC2 0xF0
				0xC4 0x20 0xC7 0xE0 0xCB 0xF0 0xD0 0x90
				0x00 0x40 0x06 0x70 0x0E 0x50 0x12 0x00
				0x18 0xD0 0x33 0x10 0x31 0x40 0x35 0xD0
				0x18 0xD0 0x19 0x00 0x0B 0xF0 0x0C 0x10
				0x0D 0x10 0x07 0x90 0x08 0x00 0x08 0x00>;
		};

		bq2419x: bq2419x@6b {
			interrupt-parent = <&gpio>;
			interrupts = <72 0x0>;

			charger {
				regulator-name = "batt_regulator";
				regulator-max-microamp = <3000>;
				watchdog-timeout = <40>;
				rtc-alarm-time = <3600>;
				auto-recharge-time = <1800>;
				consumers {
					c1 {
						regulator-consumer-supply = "usb_bat_chg";
						regulator-consumer-device = "tegra-udc.0";
					};
				};
			};
		};
	};
};

