#include "tegra124-tn8-p1761-1270-a04-e-nobattery.dts"

/ {
	nvidia,dtsfilename = __FILE__;

	i2c@7000c400 {
		battery-gauge@0b {
			onsemi,kernel-maximum-soc = <99>;
		};

		battery-charger@6b {
			charger {
				ti,charge-voltage-limit-millivolt = <4352>;
				ti,temp-range = <10 15 25 45 50 60>;
				ti,charge-thermal-voltage-limit = <4352 4352 4352 4352 4200 4200>;
				ti,charge-current-limit = <520 1040 2600 2600 2600 520>;
				ti,soc-range = <50 60 70 80 85 90 95 101>;
				ti,input-voltage-soc-limit = <4200 4280 4360 4440 4520 4600 4680 4760>;
			};
		};
	};

};
