/dts-v1/;

/include/ "tegra124.dtsi"

/ {
	model = "NVIDIA Tegra124 vcm30_t124";
	compatible = "nvidia,vcm30_t124", "nvidia,tegra124";
	#address-cells = <1>;
	#size-cells = <1>;

	chosen {
	};

        serial@70006000 {
                compatible = "nvidia,tegra114-hsuart";
                status = "okay";
        };

        serial@70006040 {
                compatible = "nvidia,tegra114-hsuart";
                status = "okay";
        };

        serial@70006300 {
                compatible = "nvidia,tegra114-hsuart";
                status = "okay";
        };
};
