#include "tegra124-tn8-e1780-1100-a02.dts"

/ {
	nvidia,dtsfilename = __FILE__;

	i2c@7000c000 {
		battery-gauge@36 {
			status = "okay";
		};

		battery-charger@6b {
			charger {
				status = "okay";
			};
		};
	};

	sysedp_batmon_calc {
		status = "okay";
	};
};

