/dts-v1/;

/include/ "tegra124.dtsi"

/ {
	model = "NVIDIA Tegra124 Ardbeg";
	compatible = "nvidia,ardbeg", "nvidia,tegra124";
	#address-cells = <2>;
	#size-cells = <1>;

	chosen {
		bootargs = "tegraid=40.0.0.00.00 vmalloc=256M video=tegrafb console=ttyS0,115200n8 earlyprintk";
		linux,initrd-start = <0x85000000>;
		linux,initrd-end = <0x851bc400>;
	};

	gpio: gpio@6000d000 {
		status = "okay";
	};

        serial@70006000 {
                compatible = "nvidia,tegra114-hsuart";
                status = "okay";
        };

        serial@70006040 {
                compatible = "nvidia,tegra114-hsuart";
                status = "okay";
        };

        serial@70006200 {
                compatible = "nvidia,tegra114-hsuart";
                status = "okay";
        };

	memory@0x80000000 {
		device_type = "memory";
		reg = <0x00000000 0x80000000 0x20000000>;
	};

	i2c@7000c500 {
		status = "okay";
		clock-frequency = <400000>;

		imx135@10 {
			compatible = "nvidia,imx135";
			cam1-gpios = <&gpio 221 0>; /* gpio PBB5 */
			reset-gpios = <&gpio 219 0>; /* gpio PBB3 */
			af-gpios = <&gpio 225 0>; /* gpio PCC1 */
			nvidia,ext_reg; /* Extra power-regulators needed */
			reg = <0x10>;
			status = "okay";
		};

		ad5816@0E {
			compatible = "nvidia,ad5816";
			reg = <0x0E>;
			nvidia,cfg = <0>;
			nvidia,num = <0>;
			nvidia,sync = <0>;
			nvidia,dev_name = "focuser";
			status = "okay";
		};
	};

};
