#include "tegra124-tn8-p1761-1270-a04-e-nobattery.dts"

/ {
	nvidia,dtsfilename = __FILE__;

	i2c@7000c400 {
		battery-gauge@0b {
			status = "okay";
		};

		battery-charger@6b {
			charger {
				status = "okay";
			};
		};
	};
};

