/include/ "skeleton.dtsi"

/ {
	compatible = "nvidia,tegra124";
	interrupt-parent = <&intc>;

	intc: interrupt-controller@50041000 {
		compatible = "arm,cortex-a15-gic";
		interrupt-controller;
		#interrupt-cells = <3>;
		reg = <0x50041000 0x1000>,
		      <0x50042000 0x0100>;
	};

	timer {
		compatible = "arm,armv7-timer";
		interrupts = <1 13 0xf04
			      1 14 0xf04>;
	};

	host1x {
		compatible = "nvidia,tegra124-host1x", "simple-bus";
		reg = <0x50000000 0x00024000>;
		interrupts = <0 65 0x04   /* mpcore syncpt */
			      0 67 0x04>; /* mpcore general */
		nvidia,memory-clients = <6>;

		#address-cells = <1>;
		#size-cells = <1>;

		ranges = <0x54000000 0x54000000 0x01000000
			  0x57000000 0x57000000 0x01000000
			  0x58000000 0x58000000 0x01000000>;

		vi {
			compatible = "nvidia,tegra124-vi";
			reg = <0x54080000 0x00040000>;
			nvidia,memory-clients = <18>;
		};

		dc@54200000 {
			compatible = "nvidia,tegra124-dc";
			reg = <0x54200000 0x00040000>;
			interrupts = <0 73 0x04>;
			nvidia,memory-clients = <2>;

			rgb {
				status = "disabled";
			};
		};

		dc@54240000 {
			compatible = "nvidia,tegra124-dc";
			reg = <0x54240000 0x00040000>;
			interrupts = <0 74 0x04>;
			nvidia,memory-clients = <3>;

			rgb {
				status = "disabled";
			};
		};

		hdmi {
			compatible = "nvidia,tegra124-hdmi";
			reg = <0x54280000 0x00040000>;
			interrupts = <0 75 0x04>;
			status = "disabled";
		};

		dsi {
			compatible = "nvidia,tegra124-dsi";
			reg = <0x54300000 0x00040000>,
			      <0x54400000 0x00040000>;
			status = "disabled";
		};

		vic {
			compatible = "nvidia,tegra124-vic";
			reg = <0x54340000 0x00040000>;
			nvidia,memory-clients = <18>;
		};

		msenc {
			compatible = "nvidia,tegra124-msenc";
			reg = <0x544c0000 0x00040000>;
			nvidia,memory-clients = <11>;
		};

		tsec {
			compatible = "nvidia,tegra124-tsec";
			reg = <0x54500000 0x00040000>;
			nvidia,memory-clients = <23>;
		};

		isp {
			compatible = "nvidia,tegra124-isp";
			reg = <0x54600000 0x00040000>,
			      <0x54680000 0x00040000>;
			nvidia,memory-clients = <8>;
		};

		gk20a {
			compatible = "nvidia,tegra124-gk20a";
			interrupts = <0 209 0x04   /* mpcore syncpt */
				      0 210 0x04>; /* mpcore general */
			reg = <0x57000000 0x01000000>,
			      <0x58000000 0x01000000>;
			nvidia,memory-clients = <34 35>;
		};
	};

};
