/ {
	power_states: denver_power_states {
		compatible = "nvidia,denver";

		c1 {
			state-name = "Clock gated";
			latency = <100>;
			residency = <100>;
			power = <200>;
			pmstate = <0x0>;
		};
		c6 {
			state-name = "Virtual retention";
			latency = <50000>;
			residency = <50000>;
			power = <50>;
			pmstate = <0x2>;
		};
	};
};
