#include "tegra132-interposer-e2141-1100-a00-00.dts"

/ {
	nvidia,dtsfilename = __FILE__;
	i2c@7000c000 {
		hpa2163@6b {
			charger {
				status = "okay";
			};
		};

		bq27441@55 {
			status = "okay";
		};
	};
};
