/dts-v1/;

/memreserve/ 0x80000000 0x00020000;

#include "tegra210-ers-common.dtsi"
#include "tegra210-platforms/tegra210-ers-extgpio-e2141-1100-a00.dtsi"
#include "tegra210-platforms/tegra210-ers-power-tree-e2174-1101-a00.dtsi"
#include "tegra210-platforms/tegra210-ers-sensor-e2160-1000-a00.dtsi"
#include "tegra210-platforms/tegra210-ers-gpio-e2220-1100-a00.dtsi"
#include "tegra210-platforms/tegra210-ers-pinmux-e2220-1100-a00.dtsi"
#include "tegra210-platforms/tegra210-comms.dtsi"

/ {
	model = "e2220";
	compatible = "nvidia,e2220", "nvidia,tegra210";
	nvidia,boardids = "2220:1100:00;2174:1101:00";
	nvidia,dtsfilename = __FILE__;
	nvidia,proc-boardid = "2220:1100:00";
	nvidia,pmu-boardid = "2174:1101:00";
	#address-cells = <2>;
	#size-cells = <2>;

	chosen {
		bootargs ="mem=1024M@2048M console=ttyS0,115200 earlyprintk=uart8250-32bit,0x70006000";
        };

	sdhci@700b0600 {
		uhs_mask = <0x60>;
		status = "okay";
	};

	sdhci@700b0400 {
		uhs_mask = <0x1c>;
		status = "okay";
	};

	sdhci@700b0200 {
		uhs_mask = <0x60>;
		status = "okay";
	};

	pcie-controller {
		nvidia,port0_status = <1>;
		nvidia,port1_status = <1>;
		nvidia,hot-plug-gpio = <&pca9539_76 1 0>;
		nvidia,wake-gpio = <&gpio TEGRA_GPIO(A, 2) 0>;
		dvdd-pex-pll-supply = <&max77620_ldo1>;
		l0-dvddio-pex-supply = <&max77620_ldo1>;
		l1-dvddio-pex-supply = <&max77620_ldo1>;
		l2-dvddio-pex-supply = <&max77620_ldo1>;
		l3-dvddio-pex-supply = <&max77620_ldo1>;
		l4-dvddio-pex-supply = <&max77620_ldo1>;
		l5-dvddio-pex-supply = <&max77620_ldo1>;
		l6-dvddio-pex-supply = <&max77620_ldo1>;
		hvdd-pex-pll-e-supply = <&max77620_sd3>;
		l0-hvddio-pex-supply = <&max77620_sd3>;
		l1-hvddio-pex-supply = <&max77620_sd3>;
		l2-hvddio-pex-supply = <&max77620_sd3>;
		l3-hvddio-pex-supply = <&max77620_sd3>;
		l4-hvddio-pex-supply = <&max77620_sd3>;
		l5-hvddio-pex-supply = <&max77620_sd3>;
		l6-hvddio-pex-supply = <&max77620_sd3>;
		vddio-pex-ctl-supply = <&max77620_sd3>;
		status = "okay";
	};
};

