/*
 * tegra210-hawkeye-p2290-common.dtsi: Hawkeye common dtsi.
 *
 * Copyright (c) 2014-2015, NVIDIA CORPORATION.  All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; version 2 of the License.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
 * more details.
 */

#include <dt-bindings/types.h>
/dts-v1/;

/memreserve/ 0x80000000 0x00020000;

#include "tegra210-soc-shield.dtsi"
#include <dt-bindings/interrupt-controller/arm-gic.h>
#include <dt-bindings/gpio/tegra-gpio.h>

/* camera control gpio definitions */
#define CAM_PWDN_FQ	TEGRA_GPIO(T, 0)
#define CAM_PWDN_RQ	TEGRA_GPIO(S, 7)
#define CAM_RST		TEGRA_GPIO(S, 4)
#define CAM_PWDN_AF	TEGRA_GPIO(S, 5)

#include "tegra210-platforms/tegra210-prods.dtsi"
#include "tegra210-platforms/tegra210-hawkeye-pinmux-p2290-1100-a00.dtsi"
#include "tegra210-platforms/tegra210-hawkeye-power-tree-p2290-1100-a00.dtsi"
#include "tegra210-platforms/tegra210-ers-keys-e2220-1100-a00.dtsi"
#include "panel-a-wuxga-8-0.dtsi"
#include "tegra210-platforms/tegra210-hawkeye-touch.dtsi"
#include "tegra210-platforms/tegra210-hawkeye-sensor-p2290-1100-a00.dtsi"
#include "tegra210-platforms/tegra210-hawkeye-camera-p2290-1100-a00.dtsi"
#include "tegra210-platforms/tegra210-hawkeye-modem-p2290-1100-a00.dtsi"
#include "tegra210-platforms/tegra210-sdhci.dtsi"
#include "tegra210-platforms/tegra210-edp.dtsi"
#include "tegra210-platforms/tegra210-audio.dtsi"
#include "tegra210-platforms/tegra210-ers-thermal-nct72-e2220-1100-a00.dtsi"
#include "tegra210-platforms/tegra210-thermal-Tboard-Tdiode.dtsi"
#include "tegra210-platforms/tegra210-therm-est.dtsi"

/* TODO: comm's dtsi should be included after GPIO dtsi */
#include "tegra210-platforms/tegra210-hawkeye-comms.dtsi"

/ {
	model = "hawkeye";
	compatible = "nvidia,hawkeye", "nvidia,tegra210";
	nvidia,fastboot-usb-pid = <0xcf0e>;

	nvidia,boardids = "2290:0000:A0";
	nvidia,proc-boardid = "2290:0000:A0";
	nvidia,pmu-boardid = "2290:0000:A0";
	#address-cells = <2>;
	#size-cells = <2>;

	chosen {
	};

	gpio@6000d000 {
		default {
			gpio-output-high = <TEGRA_GPIO(DD, 0)>;
		};

		uart_over_jack {
			status = "disabled";
			gpio-output-low = <TEGRA_GPIO(DD, 0)>;
			dt-override-status-odm-data = <0x80000000 0x80000000>;
		};
	};

	serial@70006000 {
		compatible = "nvidia,tegra210-uart", "nvidia,tegra114-hsuart";
		console-port;
		sqa-automation-port;
		status = "okay";
	};

	serial@70006040 {
		compatible = "nvidia,tegra114-hsuart";
		status = "okay";
	};

	serial@70006200 {
		compatible = "nvidia,tegra114-hsuart";
		status = "okay";
	};

	serial@70006300 {
		compatible = "nvidia,tegra114-hsuart";
		status = "okay";
	};

	pmc@7000e400 {
		nvidia,invert-interrupt;
	};

	gpio-keys {
		home {
			status = "disabled";
		};
	};

	i2c@546c0000 {
		avdd_dsi_csi-supply = <&mipi_1v2>;
	};

	i2c@7000c400 {
		status = "okay";
		backlight: lp8557-backlight@2c {
			   status = "okay";
			   compatible = "ti,lp8557";
			   reg = <0x2c>;

			   bl-name = "pwm-backlight"; /* Match liblights naming expectations */
			   init-brt = /bits/ 8 <0xFF>; /* Max brightness */
			   dev-ctrl = /bits/ 8 <0x00>; /* PWM */
			   pwm-period = <29334>;

			   pwm-names = "lp8557";
			   pwms = <&tegra_pwm 0 29334>;

				/* 3 LED string */
			   rom_14h {
				   rom-addr = /bits/ 8 <0x14>;
				   rom-val = /bits/ 8 <0x87>;
			   };

		   };
	};

	spi@7000d400 {
		status = "okay";
		earSmart: earSmart-codec@0 {
			compatible = "adnc,earSmart-codec";
			reg = <0>;
			spi-max-frequency = <6000000>;
			spi-cpha;

			adnc,reset-gpio = <&gpio TEGRA_GPIO(BB, 3) GPIO_ACTIVE_HIGH>;
			adnc,gpiob-gpio = <&gpio TEGRA_GPIO(E, 7) GPIO_ACTIVE_HIGH>;
			adnc,wakeup-gpio = <&gpio TEGRA_GPIO(K, 2) GPIO_ACTIVE_HIGH>;

			adnc,int-gpio = <(-1)>;
			adnc,gpioa-gpio = <(-1)>;
			adnc,enable_hs_uart_intf = <0>;
			adnc,ext_clk_rate = <0>;
			adnc,debounce_timer = <3>;
			adnc,plug_det_enabled = <1>;
			adnc,mic_det_enabled = <1>;

			adnc,gpio_b_irq_type = <4>;
			adnc,cmd_comp_mode = <0>;

			/* Button Control 1 */
			adnc,btn_press_settling_time = <4>;
			adnc,btn_press_polling_rate = <1>;
			adnc,btn_press_det_act = <1>;

			/* Button Control 2 */
			adnc,double_btn_timer = <(-1)>;
			adnc,mic_det_settling_timer = <(-1)>;

			/* Button Control 3 */
			adnc,long_btn_timer = <(-1)>;
			adnc,adc_btn_mute = <(-1)>;

			/* Button Control 4 */
			adnc,valid_levels = <31>;
			adnc,impd_det_timer = <0>;
		};
	};

	sound {
		compatible = "nvidia,tegra-audio-t210ref-mobile-es755";
		nvidia,model = "tegra-snd-t210ref-mobile-es755";
		nvidia,hp-det-gpios = <&gpio TEGRA_GPIO(E, 7) GPIO_ACTIVE_HIGH>;
		nvidia,num-codec-link = <3>;
		edp-consumer-name = "codec+speaker";

		nvidia,audio-routing =
			"Int Spk",	"SPKRL",
			"Int Spk",	"SPKRR",
			"y Headphone", 	"y OUT",
			"y IN",		"y Mic",
			"z Headphone", 	"z OUT",
			"z IN",		"z Mic",
			"z IN",		"z OUT";

		nvidia,xbar = <&tegra_axbar>;

		nvidia,dai-link-1 {
			link-name = "earSmart-playback";
			cpu-dai = <&tegra_i2s1>;
			codec-dai = <&earSmart>;
			cpu-dai-name = "I2S1";
			codec-dai-name = "earSmart-porta";
			format = "i2s";
			bitclock-slave;
			frame-slave;
			bitclock-noninversion;
			frame-noninversion;
			bit-format = "s16_le";
			bclk_ratio = <0>;
			srate = <48000>;
			num-channel = <2>;
			name-prefix = "x";
		};
		nvidia,dai-link-2 {
			link-name = "spdif-dit-1";
			cpu-dai = <&tegra_i2s2>;
			codec-dai = <&spdif_dit1>;
			cpu-dai-name = "I2S2";
			codec-dai-name = "dit-hifi";
			format = "dsp_a";
			bitclock-slave;
			frame-slave;
			bitclock-inversion;
			frame-inversion;
			bit-format = "s16_le";
			bclk_ratio = <4>;
			srate = <8000>;
			num-channel = <1>;
			name-prefix = "y";
		};
		nvidia,dai-link-3 {
			link-name = "spdif-dit-2";
			cpu-dai = <&tegra_i2s3>;
			codec-dai = <&spdif_dit2>;
			cpu-dai-name = "I2S3";
			codec-dai-name = "dit-hifi";
			format = "i2s";
			bitclock-slave;
			frame-slave;
			bitclock-noninversion;
			frame-noninversion;
			bit-format = "s16_le";
			bclk_ratio = <0>;
			srate = <48000>;
			num-channel = <2>;
			name-prefix = "z";
		};
	};

	i2c@7000c500 {
		tegra_nct72: onsemi,nct72@4c {
			vdd-supply = <&vdd_3v3>;
		};
	};

	camera-pcl {
		profiles {
			ov5693@2_0036 {
				use_of_node = "yes";
				dev_name = "ov5693";
				num = <1>;
				vana-supply = <&max77620_ldo3>;
				vif-supply = <&en_vdd_cam>;
				cam2-gpios = <&gpio CAM_PWDN_FQ 0>;
				reset-gpios = <&gpio CAM_RST 0>;
			};
			ov5693@2_0010 {
				use_of_node = "yes";
				dev_name = "ov5693";
				num = <0>;
				vana-supply = <&max77620_ldo3>;
				vif-supply = <&en_vdd_cam>;
				cam2-gpios = <&gpio CAM_PWDN_RQ 0>;
			};
			ad5823@2_000c {
				use_of_node = "yes";
				vdd-supply = <&max77620_ldo3>;
				vif-supply = <&en_vdd_cam>;
				af-pwdn-gpios = <&gpio CAM_PWDN_AF 0>;
			};
		};

		dpd {
			compatible = "nvidia,csi-dpd";
			#address-cells = <1>;
			#size-cells = <0>;
			default-enable;
			num = <6>;
			csia {
				reg = <0x0 0x0 0x0 0x0>;
			};
			csib {
				reg = <0x0 0x1 0x0 0x0>;
			};
			csic {
				reg = <0x1 0x0a 0x0 0x0>;
			};
			csid {
				reg = <0x1 0x0b 0x0 0x0>;
			};
			csie {
				reg = <0x1 0x0c 0x0 0x0>;
			};
			csif {
				reg = <0x1 0x0d 0x0 0x0>;
			};
		};
	};

	extcon {
		id_gpio_extcon: extcon@0 {
			compatible = "extcon-gpio";
			reg = <0x0>;
			extcon-gpio,name = "ID";
			gpio = <&max77620 0 0>;
			extcon-gpio,connection-state-low;
			extcon-gpio,cable-name = "USB-Host";
			#extcon-cells = <1>;
		};
	};

	udc@7d000000 {
		nvidia,port-otg;
		nvidia,charging-supported;
		nvidia,enable-pmu-vbus-detection;
		nvidia,id-detection-type = <1>;
		extcon-cables = <&bq2419x 0>;
		extcon-cable-names = "vbus";
		#extcon-cells = <1>;
		dt-override-status-odm-data = <0x01000000 0x00000000>;
	};

        otg@7d000000 {
		nvidia,enable-pmu-vbus-detection;
		nvidia,id-detection-type = <1>;
		extcon-cables = <&bq2419x 0 &id_gpio_extcon 0>;
		extcon-cable-names = "vbus", "id";
		#extcon-cells = <1>;
		dt-override-status-odm-data = <0x01000000 0x00000000>;
        };

	sdhci@700b0600 {
		uhs-mask = <0x60>; /* Disabled HS200 mode & HS400 mode */
		built-in;
		status = "okay";
	};

	sdhci@700b0400 {
		uhs-mask = <0x1C>; /* Disabled UHS modes for SD */
		mmc-ocr-mask = <3>;
		cd-gpios = <&gpio TEGRA_GPIO_PZ2 0>;
		nvidia,update-pinctrl-settings;
		pinctrl-names = "sdmmc_schmitt_enable", "sdmmc_schmitt_disable", "sdmmc_clk_schmitt_enable", "sdmmc_clk_schmitt_disable";
		pinctrl-0 = <&sdmmc3_schmitt_enable_state>;
		pinctrl-1 = <&sdmmc3_schmitt_disable_state>;
		pinctrl-2 = <&sdmmc3_clk_schmitt_enable_state>;
		pinctrl-3 = <&sdmmc3_clk_schmitt_disable_state>;
		nvidia,sd-device;
		status = "okay";
	};

	sdhci@700b0200 {
		uhs-mask = <0x1C>; /* Disabled UHS modes for SDIO */
		nvidia,is-ddr-tap-delay;
		nvidia,ddr-tap-delay = <0>;
		status = "okay";
	};

	sdhci@700b0000 {
		uhs-mask = <0x1C>; /* Disabled UHS modes for 2nd SDIO */
		mmc-ocr-mask = <0>;
		default-drv-type = <1>;
		nvidia,update-pinctrl-settings;
		pinctrl-names = "sdmmc_schmitt_enable", "sdmmc_schmitt_disable", "sdmmc_clk_schmitt_enable", "sdmmc_clk_schmitt_disable";
		pinctrl-0 = <&sdmmc1_schmitt_enable_state>;
		pinctrl-1 = <&sdmmc1_schmitt_disable_state>;
		pinctrl-2 = <&sdmmc1_clk_schmitt_enable_state>;
		pinctrl-3 = <&sdmmc1_clk_schmitt_disable_state>;
		status = "disabled";
	};

	cpu_edp {
		status = "okay";
		nvidia,edp_limit = <12000>;
	};

	gpu_edp {
		status = "okay";
		nvidia,edp_limit = <12000>;
	};

	thermal-zones {
		CPU-therm {
			thermal-zone-params {
				governor-name = "pid_thermal_gov";
				max_err_temp = <9000>;
				max_err_gain = <1000>;
				gain_p = <1000>;
				gain_d = <0>;
				up_compensation = <20>;
				down_compensation = <20>;
			};
			trips {
				cpu_critical {
					temperature = <103000>;
					hysteresis = <0>;
					type = "critical";
					writable;
				};
				cpu_heavy {
					temperature = <99000>;
					hysteresis = <0>;
					type = "hot";
					writable;
				};
				cpu_throttle {
					temperature = <89500>;
					hysteresis = <0>;
					type = "passive";
					writable;
				};
			};
			cooling-maps {
				map0 {
					trip = <&{/thermal-zones/CPU-therm/trips/cpu_critical}>;
					cdev-type = "tegra-shutdown";
					cooling-device = <&{/soctherm@0x700E2000/throttle@critical}
						THERMAL_NO_LIMIT THERMAL_NO_LIMIT>;
				};
				map1 {
					trip = <&{/thermal-zones/CPU-therm/trips/cpu_heavy}>;
					cdev-type = "tegra-heavy";
					cooling-device = <&{/soctherm@0x700E2000/throttle@heavy}
						THERMAL_NO_LIMIT THERMAL_NO_LIMIT>;
				};
				map2 {
					trip = <&{/thermal-zones/CPU-therm/trips/cpu_throttle}>;
					cdev-type = "cpu-balanced";
					cooling-device = <&{/bthrot_cdev/cpu_balanced}
						THERMAL_NO_LIMIT THERMAL_NO_LIMIT>;
				};
			};
		};
		GPU-therm {
			thermal-zone-params {
				governor-name = "pid_thermal_gov";
				max_err_temp = <9000>;
				max_err_gain = <1000>;
				gain_p = <1000>;
				gain_d = <0>;
				up_compensation = <20>;
				down_compensation = <20>;
			};
			trips {
				gpu_critical {
					temperature = <104000>;
					hysteresis = <0>;
					type = "critical";
					writable;
				};
				gpu_heavy {
					temperature = <101000>;
					hysteresis = <0>;
					type = "hot";
					writable;
				};
				gpu_throttle {
					temperature = <91500>;
					hysteresis = <0>;
					type = "passive";
					writable;
				};
			};
			cooling-maps {
				map0 {
					trip = <&{/thermal-zones/GPU-therm/trips/gpu_critical}>;
					cdev-type = "tegra-shutdown";
					cooling-device = <&{/soctherm@0x700E2000/throttle@critical}
						THERMAL_NO_LIMIT THERMAL_NO_LIMIT>;
				};
				map1 {
					trip = <&{/thermal-zones/GPU-therm/trips/gpu_heavy}>;
					cdev-type = "tegra-heavy";
					cooling-device = <&{/soctherm@0x700E2000/throttle@heavy}
						THERMAL_NO_LIMIT THERMAL_NO_LIMIT>;
				};
				map2 {
					trip = <&{/thermal-zones/GPU-therm/trips/gpu_throttle}>;
					cdev-type = "gpu-balanced";
					cooling-device = <&{/bthrot_cdev/gpu_balanced}
						THERMAL_NO_LIMIT THERMAL_NO_LIMIT>;
				};
			};
		};
		LCPU-therm {
			thermal-zone-params {
				governor-name = "pid_thermal_gov";
				max_err_temp = <9000>;
				max_err_gain = <1000>;
				gain_p = <1000>;
				gain_d = <0>;
				up_compensation = <20>;
				down_compensation = <20>;
			};
			trips {
				lcpu_critical {
					temperature = <104000>; /* must be same as GPU's critical temp */
					hysteresis = <0>;
					type = "critical";
					writable;
				};
				lcpu_heavy {
					temperature = <98000>;
					hysteresis = <0>;
					type = "hot";
					writable;
				};
				lcpu_throttle {
					temperature = <88500>;
					hysteresis = <0>;
					type = "passive";
					writable;
				};
			};
			cooling-maps {
				map0 {
					trip = <&{/thermal-zones/LCPU-therm/trips/lcpu_critical}>;
					cdev-type = "tegra-shutdown";
					cooling-device = <&{/soctherm@0x700E2000/throttle@critical}
						THERMAL_NO_LIMIT THERMAL_NO_LIMIT>;
				};
				map1 {
					trip = <&{/thermal-zones/LCPU-therm/trips/lcpu_heavy}>;
					cdev-type = "tegra-heavy";
					cooling-device = <&{/soctherm@0x700E2000/throttle@heavy}
						THERMAL_NO_LIMIT THERMAL_NO_LIMIT>;
				};
				map2 {
					trip = <&{/thermal-zones/LCPU-therm/trips/lcpu_throttle}>;
					cdev-type = "cpu-balanced";
					cooling-device = <&{/bthrot_cdev/cpu_balanced}
						THERMAL_NO_LIMIT THERMAL_NO_LIMIT>;
				};
			};
		};
		PLL-therm {
			thermal-zone-params {
				governor-name = "pid_thermal_gov";
				max_err_temp = <9000>;
				max_err_gain = <1000>;
				gain_p = <1000>;
				gain_d = <0>;
				up_compensation = <20>;
				down_compensation = <20>;
			};
		};
		Tboard_tegra {
			status = "okay";
		};
		Tdiode_tegra {
			status = "okay";
		};
	};

	backlight {
		status = "okay";
		disable-on-kernel-charging;
	};

	host1x {
		/* tegradc.0 */
		dc@54200000 {
			status = "okay";
			/* TODO: Needed? */
			/* dvdd_lcd-supply = <&vdd_disp_3v3>; */
			/* nvidia,dc-flags = <TEGRA_DC_FLAG_ENABLED>; */
			nvidia,emc-clk-rate = <204000000>;
			nvidia,cmu-enable = <1>;
			nvidia,fb-bpp = <32>; /* bits per pixel */
			nvidia,fb-flags = <TEGRA_FB_FLIP_ON_PROBE>;
		};
		/* tegradc.1 */
		dc@54240000 {
			status = "okay";
			nvidia,dc-flags = <TEGRA_DC_FLAG_ENABLED>;
			nvidia,emc-clk-rate = <300000000>;
			nvidia,fb-bpp = <32>; /* bits per pixel */
			nvidia,fb-flags = <TEGRA_FB_FLIP_ON_PROBE>;
		};
		dsi {
			nvidia,dsi-controller-vs = <DSI_VS_1>;
			status = "okay";
			panel-a-wuxga-8-0 {
				nvidia,dsi-dpd-pads = <DSIC_DPD_EN DSID_DPD_EN>;
				nvidia,panel-rst-gpio = <&gpio TEGRA_GPIO(V, 2) 0>; /* PV2 */
				nvidia,panel-bl-pwm-gpio = <&gpio TEGRA_GPIO(V, 0) 0>; /* PV0 */
				/* TODO: Needed? */
				nvidia,panel-en-gpio = <&gpio TEGRA_GPIO(V, 1) 0>; /* PV1 */
				disp-default-out {
					nvidia,out-rotation = <180>;
				};
			};
		};
	};
};
