/*
 * arch/arm64/boot/dts/tegra210-loki-e-p2530-0032-e00-00.dts
 *
 * Copyright (c) 2014, NVIDIA CORPORATION.  All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; version 2 of the License.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
 * more details.
 *
 * You should have received a copy of the GNU General Public License along
 * with this program; if not, write to the Free Software Foundation, Inc.,
 * 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
 *
 */
#include <dt-bindings/types.h>
/dts-v1/;

/memreserve/ 0x80000000 0x00020000;

#include "tegra210-common.dtsi"
#include "tegra210-platforms/tegra210-loki-e-p2530-common.dtsi"
#include "tegra210-platforms/tegra210-loki-power-tree-p2530-0999-e00.dtsi"
#include "tegra210-platforms/tegra210-loki-e-gpio-p2530-0032-e00.dtsi"
#include "tegra210-platforms/tegra210-loki-e-pinmux-p2530-0032-e00.dtsi"
#include "tegra210-platforms/tegra210-loki-e-comms.dtsi"
#include "tegra210-platforms/tegra210-loki-e-pwm-fan.dtsi"
#include "tegra210-platforms/tegra210-loki-sdhci.dtsi"
#include "panel-j-1440-810-5-8.dtsi"
#include "tegra210-platforms/tegra210-ers-hdmi-e2190-1100-a00.dtsi"
#include "tegra210-platforms/tegra210-ers-touch-e1937-1000-a00.dtsi"
#include "tegra210-platforms/tegra210-loki-e-sensor-p2530-0032-e00.dtsi"
#include "tegra210-platforms/tegra210-loki-e-thermal-fan-est.dtsi"
#include "tegra210-platforms/tegra210-loki-e-camera-p2530-0032-e00.dtsi"
#include "tegra210-platforms/tegra210-loki-e-keys-p2530-0032-e00.dtsi"
#include "tegra210-platforms/tegra210-loki-maxim-charger.dtsi"
#include "tegra210-platforms/tegra210-loki-e-powermon.dtsi"

/ {
	model = "loki_e_lte";
	compatible = "nvidia,loki-e", "nvidia,tegra210";
	nvidia,dtsfilename = __FILE__;

	i2c@7000c500 {
		battery-charger@6b {
			charger {
				dt-override-status-odm-data = <0x00C00000 0x00400000>;
			};
		};

		battery-gauge@55 {
			interrupt-parent = <&gpio>;
			interrupts = <TEGRA_GPIO(V, 3) 0x0>;
			dt-override-status-odm-data = <0x00C00000 0x00400000>;
		};
	};

	i2c@7000c400 {
		ads1015: ads1015@4a {
			reg = <0x4a>;
			compatible = "ads1015";
			#io-channel-cells = <1>;
		};
	};

	host1x {
		/* tegradc.0 */
		dc@54200000 {
			status = "okay";
			nvidia,dc-flags = <TEGRA_DC_FLAG_ENABLED>;
			nvidia,emc-clk-rate = <204000000>;
			nvidia,cmu-enable = <1>;
			nvidia,fb-bpp = <32>; /* bits per pixel */
			nvidia,fb-flags = <TEGRA_FB_FLIP_ON_PROBE>;
		};
		/* tegradc.1 */
		dc@54240000 {
			status = "okay";
			nvidia,dc-flags = <TEGRA_DC_FLAG_ENABLED>;
			nvidia,emc-clk-rate = <300000000>;
			nvidia,fb-bpp = <32>; /* bits per pixel */
			nvidia,fb-flags = <TEGRA_FB_FLIP_ON_PROBE>;
		};
		dsi {
			nvidia,dsi-controller-vs = <DSI_VS_1>;
			status = "okay";
			panel-j-1440-810-5-8 {
				nvidia,dsi-dpd-pads = <DSIC_DPD_EN DSID_DPD_EN>;
				nvidia,panel-rst-gpio = <&gpio TEGRA_GPIO(V, 2) 0>; /* PV2 */
				nvidia,panel-bl-pwm-gpio = <&gpio TEGRA_GPIO(V, 0) 0>; /* PV0 */
				nvidia,panel-en-gpio = <&gpio TEGRA_GPIO(V, 1) 0>; /* PV1 */
			};
		};
	};

	spi@7000d400 {
		status = "okay";
		earSmart: earSmart-codec@0 {
			compatible = "adnc,earSmart-codec";
			reg = <0>;
			spi-max-frequency = <6000000>;
			spi-cpha;

			adnc,reset-gpio = <&gpio TEGRA_GPIO(BB, 3) GPIO_ACTIVE_HIGH>;
			adnc,gpiob-gpio = <&gpio TEGRA_GPIO(E, 6) GPIO_ACTIVE_HIGH>;
			adnc,wakeup-gpio = <&gpio TEGRA_GPIO(K, 2) GPIO_ACTIVE_HIGH>;

			adnc,int-gpio = <(-1)>;
			adnc,gpioa-gpio = <(-1)>;
			adnc,enable_hs_uart_intf = <0>;
			adnc,ext_clk_rate = <0>;
			adnc,debounce_timer = <3>;
			adnc,plug_det_enabled = <1>;
			adnc,mic_det_enabled = <1>;

			adnc,gpio_b_irq_type = <4>;
			adnc,cmd_comp_mode = <0>;

			/* Button Control 1 */
			adnc,btn_press_settling_time = <4>;
			adnc,btn_press_polling_rate = <1>;
			adnc,btn_press_det_act = <1>;

			/* Button Control 2 */
			adnc,double_btn_timer = <(-1)>;
			adnc,mic_det_settling_timer = <(-1)>;

			/* Button Control 3 */
			adnc,long_btn_timer = <(-1)>;
			adnc,adc_btn_mute = <(-1)>;

			/* Button Control 4 */
			adnc,valid_levels = <31>;
			adnc,impd_det_timer = <0>;
		};
	};

	ahub {
		i2s@702d1100 {
			pinctrl-names = "dap_active", "dap_inactive";
			pinctrl-0 = <>;
			pinctrl-1 = <>;
			regulator-supplies = "vdd-1v8-spi-hv", "vdd-1v8-spi-hv-bias";
			vdd-1v8-spi-hv-supply = <&max77620_sd3>;
			vdd-1v8-spi-hv-bias-supply = <&max77620_sd3>;
			fsync-width = <0>;
		};
	};

	sound {
		compatible = "nvidia,tegra-audio-t210ref-mobile-es755";
		nvidia,model = "tegra-snd-t210ref-mobile-es755";
		nvidia,hp-det-gpios = <&gpio TEGRA_GPIO(E, 6) GPIO_ACTIVE_HIGH>;
		nvidia,num-codec-link = <2>;

		nvidia,audio-routing =
			"y Headphone", 	"y OUT",
			"y IN",		"y Mic";

		nvidia,xbar = <&tegra_axbar>;

		nvidia,dai-link-1 {
			link-name = "earSmart-playback";
			cpu-dai = <&tegra_i2s1>;
			codec-dai = <&earSmart>;
			cpu-dai-name = "I2S1";
			codec-dai-name = "earSmart-porta";
			format = "i2s";
			bitclock-slave;
			frame-slave;
			bitclock-noninversion;
			frame-noninversion;
			bit-format = "s16_le";
			bclk_ratio = <0>;
			srate = <48000>;
			num-channel = <2>;
			name-prefix = "x";
		};
		nvidia,dai-link-2 {
			link-name = "spdif-dit-1";
			cpu-dai = <&tegra_i2s2>;
			codec-dai = <&spdif_dit1>;
			cpu-dai-name = "I2S2";
			codec-dai-name = "dit-hifi";
			format = "dsp_a";
			bitclock-slave;
			frame-slave;
			bitclock-inversion;
			frame-inversion;
			bit-format = "s16_le";
			bclk_ratio = <4>;
			srate = <8000>;
			num-channel = <1>;
			name-prefix = "y";
		};
	};

	extcon {
		extcon@0 {
			status = "disabled";
		};

		extcon_adc_jack: extcon@1 {
			compatible = "extcon-adc-jack";
			reg = <0x1>;
			interrupt-parent = <&max77620>;
			interrupts = <0 0 3>;
			extcon-adc-jack,irq-flags = <3>;
			extcon-adc-jack,cable-names = "ID-GND", "ID-NV", "ID-RA", "ID-RB", "ID-RC";
			extcon-adc-jack,states = <0x1    0     20
						  0x2    50    100
						  0x4    380   415
						  0x8    215   245
						  0x10    115   140>;
			io-channels = <&ads1015 4>;
			io-channel-names = "id-resistance";
			#extcon-cells = <1>;
		};

		extcon_cable_xlate: extcon@2 {
			compatible = "extcon-cable-xlate";
			reg = <0x2>;
			extcon-name = "cable-xlate";
			cable-insert-delay = <500>;
			output-cable-names = "USB", "USB-Host", "ACA-NV", "Y-Cable", "ACA-A", "ACA-B", "ACA-C";
	                extcon-cables = <&bq2419x 0 &extcon_adc_jack 0 &extcon_adc_jack 1 &extcon_adc_jack 2 &extcon_adc_jack 3 &extcon_adc_jack 4>;
			extcon-cable-names = "vbus", "id", "aca-nv", "aca-ra", "aca-rb", "aca-rc";
			cable-states = <0x0	0x3F	0x0
					0x1	0x3F	0x1
					0x2	0x3F	0x2
					0x4	0x3F	0x4
					0x5	0x3F	0x4
					0x3	0x3F	0x8
					0x8	0x3F	0x10
					0x10	0x3F	0x20
					0x20	0x3F	0x40>;
			#extcon-cells = <1>;
		};
	};

	udc@7d000000 {
		nvidia,port-otg;
		nvidia,charging-supported;
		nvidia,enable-pmu-vbus-detection;
		nvidia,id-detection-type = <1>;
		nvidia,enable-aca-nv-charger-detection;
		nvidia,dcp-current-limit-ma = <2000>;
		extcon-cables = <&extcon_cable_xlate 0 &extcon_cable_xlate 2>;
		extcon-cable-names = "vbus", "aca-nv";
		#extcon-cells = <1>;
		status = "okay";
	};

	otg@7d000000 {
		nvidia,enable-pmu-vbus-detection;
		nvidia,id-detection-type = <1>;
		nvidia,enable-aca-nv-charger-detection;
		nvidia,enable-y-cable-detection;
		extcon-cables = <&extcon_cable_xlate 0 &extcon_cable_xlate 1 &extcon_cable_xlate 2 &extcon_cable_xlate 3>;
		extcon-cable-names = "vbus", "id", "aca-nv", "y-cable";
		#extcon-cells = <1>;
		status = "okay";
	};

	psy_extcon {
		status = "okay";
	};

	camera-pcl {
		profiles {
			ov7695@6_0021 {
				use_of_node = "yes";
				vana-supply = <&max77620_ldo3>;
				vif2-supply = <&en_vdd_cam>;
				cam1-gpios = <&gpio TEGRA_GPIO(S, 7) 0>;
			};
		};
	};

	/* Put common control config here */
	xusb_pad_ctl: padctl@0 {
		nvidia,ss_portmap = <0x7770>;
		nvidia,lane_owner = <0xFFFF>; /* Use 0xF to disable lane assign */
		status = "okay";
	};

	xusb@70090000 {
		/* nvidia,uses_external_pmic;
		/* nvidia,gpio_controls_muxed_ss_lanes; */
		nvidia,gpio_ss1_sata = <0>;
		nvidia,ulpicap = <0>; /* No ulpi support. can we remove */
		nvidia,portmap = <0x0400>;
		nvidia,common_padctl = <&xusb_pad_ctl>;
		status = "okay";
	};

	 xudc@700d0000 {
                nvidia,common_padctl = <&xusb_pad_ctl>;
		extcon-cables = <&extcon_cable_xlate 0 &extcon_cable_xlate 1>;
		extcon-cable-names = "vbus", "id";
                #extcon-cells = <1>;
                status = "disabled";
        };

	backlight {
		compatible = "pwm-backlight";
		status = "okay";
		pwms = <&tegra_pwm 0 29334>;
	};

	gpu-dvfs-rework {
		status = "disabled";
	};

	thermal-zones {
		CPU_therm {
			thermal-zone-params {
				governor-name = "pid_thermal_gov";
				max_err_temp = <9000>;
				max_err_gain = <1000>;
				gain_p = <1000>;
				gain_d = <0>;
				up_compensation = <20>;
				down_compensation = <20>;
			};
			trips {
				cpu_critical {
					temperature = <99000>;
					hysteresis = <0>;
					type = "critical";
					writable;
				};
				cpu_heavy {
					temperature = <95000>;
					hysteresis = <0>;
					type = "hot";
					writable;
				};
				cpu_throttle {
					temperature = <85500>;
					hysteresis = <0>;
					type = "passive";
					writable;
				};
			};
			cooling-maps {
				map0 {
					trip = <&{/thermal-zones/CPU_therm/trips/cpu_critical}>;
					cdev-type = "tegra-shutdown";
					cooling-device = <&{/soctherm@0x700E2000/throttle@critical}
						THERMAL_NO_LIMIT THERMAL_NO_LIMIT>;
				};
				map1 {
					trip = <&{/thermal-zones/CPU_therm/trips/cpu_heavy}>;
					cdev-type = "tegra-heavy";
					cooling-device = <&{/soctherm@0x700E2000/throttle@heavy}
						THERMAL_NO_LIMIT THERMAL_NO_LIMIT>;
				};
				map2 {
					trip = <&{/thermal-zones/CPU_therm/trips/cpu_throttle}>;
					cdev-type = "cpu-balanced";
					cooling-device = <&{/bthrot_cdev/cpu_balanced}
						THERMAL_NO_LIMIT THERMAL_NO_LIMIT>;
				};
			};
		};
		GPU_therm {
			thermal-zone-params {
				governor-name = "pid_thermal_gov";
				max_err_temp = <9000>;
				max_err_gain = <1000>;
				gain_p = <1000>;
				gain_d = <0>;
				up_compensation = <20>;
				down_compensation = <20>;
			};
			trips {
				gpu_critical {
					temperature = <97500>;
					hysteresis = <0>;
					type = "critical";
					writable;
				};
				gpu_heavy {
					temperature = <94500>;
					hysteresis = <0>;
					type = "hot";
					writable;
				};
				gpu_throttle {
					temperature = <85000>;
					hysteresis = <0>;
					type = "passive";
					writable;
				};
			};
			cooling-maps {
				map0 {
					trip = <&{/thermal-zones/GPU_therm/trips/gpu_critical}>;
					cdev-type = "tegra-shutdown";
					cooling-device = <&{/soctherm@0x700E2000/throttle@critical}
						THERMAL_NO_LIMIT THERMAL_NO_LIMIT>;
				};
				map1 {
					trip = <&{/thermal-zones/GPU_therm/trips/gpu_heavy}>;
					cdev-type = "tegra-heavy";
					cooling-device = <&{/soctherm@0x700E2000/throttle@heavy}
						THERMAL_NO_LIMIT THERMAL_NO_LIMIT>;
				};
				map2 {
					trip = <&{/thermal-zones/GPU_therm/trips/gpu_throttle}>;
					cdev-type = "gpu-balanced";
					cooling-device = <&{/bthrot_cdev/gpu_balanced}
						THERMAL_NO_LIMIT THERMAL_NO_LIMIT>;
				};
			};
		};
		MEM_therm {
			trips {
				mem_critical {
					temperature = <97500>;
					hysteresis = <0>;
					type = "critical";
					writable;
				};
			};
			cooling-maps {
				map0 {
					trip = <&{/thermal-zones/MEM_therm/trips/mem_critical}>;
					cdev-type = "tegra-shutdown";
					cooling-device = <&{/soctherm@0x700E2000/throttle@critical}
						THERMAL_NO_LIMIT THERMAL_NO_LIMIT>;
				};
			};
		};
		PLL_therm {
			trips {
				pll_critical {
					temperature = <100000>;
					hysteresis = <0>;
					type = "critical";
					writable;
				};
			};
			cooling-maps {
				map0 {
					trip = <&{/thermal-zones/PLL_therm/trips/pll_critical}>;
					cdev-type = "tegra-shutdown";
					cooling-device = <&{/soctherm@0x700E2000/throttle@critical}
						THERMAL_NO_LIMIT THERMAL_NO_LIMIT>;
				};
			};
		};

		Charger-Die {
			status = "okay";
		};
	};

    sysedp_batmon_calc {
        compatible = "nvidia,tegra124-sysedp_batmon_calc";
        power_supply = "battery";
        update_interval = <30000>;
        ocv_lut = <
            100 4150000
            60 3710000
            30 3550000
            0 3330000
        >;
        ibat_lut = <
            60 15600
            40 15600
            0 15600
            S32_TO_U32(-30) 0
        >;
        rbat_data = <
            100000
            100000
        >;
        temp_axis = <25>;
        capacity_axis = <100 0>;
        r_const = <18000>;
        vsys_min = <2600000>;
    };

    sysedp {
        compatible = "nvidia,tegra124-sysedp";
        nvidia,margin = <0>;
        nvidia,min_budget = <0>;
        nvidia,initial_budget = <30000>;

        consumers {
            consumer1 {
                nvidia,consumer_name = "camera";
                nvidia,states = <0 124>;
            };
            consumer2 {
                nvidia,consumer_name = "primary-wifi";
                nvidia,states = <0 2345>;
            };
            consumer3 {
                nvidia,consumer_name = "secondary-wifi";
                nvidia,states = <0 1170>;
            };
            /*eMMC*/
            consumer4 {
                nvidia,consumer_name = "sdhci-tegra.3";
                nvidia,states = <0 1785>;
            };
            consumer5 {
                nvidia,consumer_name = "display+touch";
                nvidia,states = <0 616>;
            };
            consumer6 {
                nvidia,consumer_name = "codec+speaker";
                nvidia,states = <0 1270>;
            };
            consumer7 {
                nvidia,consumer_name = "backlight";
                nvidia,states = <0 127 255 382 510 638 765 893 1020 1148 1276>;
            };
            /*SD Card */
            consumer8 {
                nvidia,consumer_name = "sdhci-tegra.0";
                nvidia,states = <0 1785>;
            };
        };
    };

	gpio: gpio@6000d000 {
		uart_over_jack {
			status = "disabled";
			gpio-output-high = <TEGRA_GPIO(DD, 0)>;
			dt-override-status-odm-data = <0x80000000 0x80000000>;
		};
	};
};
