#include "tegra132-bowmore-e1971-1100-a00-00.dts"

/ {
	nvidia,dtsfilename = __FILE__;

	i2c@7000c400 {
		lc709203f@0b {
			status = "okay";
		};

		hpa2163@6b {
			charger {
				status = "okay";
			};
		};
	};
};

