/*
 * arch/arm64/boot/dts/tegra210.dtsi
 *
 * Copyright (c) 2013, NVIDIA CORPORATION.  All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; version 2 of the License.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
 * more details.
 *
 * You should have received a copy of the GNU General Public License along
 * with this program; if not, write to the Free Software Foundation, Inc.,
 * 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
 *
 */

/include/ "skeleton.dtsi"

/ {
	compatible = "nvidia,tegra210";
	interrupt-parent = <&intc>;
	#address-cells = <2>;
	#size-cells = <2>;

	cpus {
		#address-cells = <2>;
		#size-cells = <0>;

		cpu@0 {
			device_type = "cpu";
			compatible = "arm,cortex-a57-64bit", "arm,armv8";
			reg = <0x0 0x0>;
			enable-method = "spin-table";
			cpu-release-addr = <0x0 0x8000fff8>;
		};

		cpu@1 {
			device_type = "cpu";
			compatible = "arm,cortex-a57-64bit", "arm,armv8";
			reg = <0x0 0x1>;
			enable-method = "spin-table";
			cpu-release-addr = <0x0 0x8000fff8>;
		};

		cpu@2 {
			device_type = "cpu";
			compatible = "arm,cortex-a57-64bit", "arm,armv8";
			reg = <0x0 0x2>;
			enable-method = "spin-table";
			cpu-release-addr = <0x0 0x8000fff8>;
		};

		cpu@3 {
			device_type = "cpu";
			compatible = "arm,cortex-a57-64bit", "arm,armv8";
			reg = <0x0 0x3>;
			enable-method = "spin-table";
			cpu-release-addr = <0x0 0x8000fff8>;
		};
	};

	intc: interrupt-controller {
		compatible = "arm,cortex-a15-gic";
		#interrupt-cells = <3>;
		interrupt-controller;
		reg = <0x0 0x50041000 0x0 0x1000
		       0x0 0x50042000 0x0 0x0100>;
	};

	lic: interrupt-controller@60004000 {
		compatible = "nvidia,tegra-gic";
		interrupt-controller;
		reg = <0x60004000 0x40>,
		      <0x60004100 0x40>,
		      <0x60004200 0x40>,
		      <0x60004300 0x40>,
		      <0x60004400 0x40>;
	};

	timer {
		compatible = "arm,armv8-timer";
		interrupts = <1 13 0xf01
			      1 14 0xf01
			      1 11 0xf01
			      1 10 0xf01>;
		clock-frequency = <12000000>;
	};

	serial0: serial@70006000 {
		compatible = "nvidia,tegra210-uart", "nvidia,tegra30-uart", "nvidia,tegra20-uart";
		reg = <0x0 0x70006000 0x0 0x40>;
		reg-shift = <2>;
		interrupts = <0 36 0x04>;
		clock-frequency = <408000000>;
		nvidia,memory-clients = <14>;
	};

	host1x {
		compatible = "nvidia,tegra210-host1x", "simple-bus";
		reg = <0x0 0x50000000 0x0 0x00024000>;
		interrupts = <0 65 0x04   /* mpcore syncpt */
			      0 67 0x04>; /* mpcore general */
		nvidia,memory-clients = <6>;

		#address-cells = <1>;
		#size-cells = <1>;

		ranges;

		vi {
			compatible = "nvidia,tegra210-vi";
			reg = <0x54080000 0x00040000>;
			interrupts = <0 69 0x04>;
			nvidia,memory-clients = <18>;
		};

		isp@54600000 {
			compatible = "nvidia,tegra210-isp";
			reg = <0x54600000 0x00040000>;
			nvidia,memory-clients = <8>;
		};

		isp@54680000 {
			compatible = "nvidia,tegra210-isp";
			reg = <0x54680000 0x00040000>;
			nvidia,memory-clients = <55>;
		};

		vic {
			compatible = "nvidia,tegra210-vic";
			reg = <0x54340000 0x00040000>;
			nvidia,memory-clients = <19>;
		};

		nvenc {
			compatible = "nvidia,tegra210-nvenc";
			reg = <0x544c0000 0x00040000>;
			nvidia,memory-clients = <11>;
		};

		tsec {
			compatible = "nvidia,tegra210-tsec";
			reg = <0x54500000 0x00040000>;
			nvidia,memory-clients = <23>;
		};

		nvdec {
			compatible = "nvidia,tegra210-nvdec";
			reg = <0x54480000 0x00040000>;
			nvidia,memory-clients = <59>;
		};

		nvjpg {
			compatible = "nvidia,tegra210-nvjpg";
			reg = <0x54380000 0x00040000>;
			nvidia,memory-clients = <62>;
		};
	};

	ahub {
		compatible = "nvidia,tegra210-axbar";
		reg = <0x0 0x702d0800 0x0 0x800>;
		status = "disabled";

		#address-cells = <1>;
		#size-cells = <1>;
		ranges = <0x702d0000 0x0 0x702d0000 0x00010000>;
	};
};
