/dts-v1/;

#include "tegra132.dtsi"
#include "tegra132-platforms/tegra132-interposer-gpio-e2141-1100-a00.dtsi"
#include "tegra132-platforms/tegra132-interposer-pinmux-e2141-1100-a00.dtsi"
#include "tegra210-platforms/tegra210-e2141-e2174-dfll.dtsi"
#include "tegra210-platforms/tegra210-ers-power-tree-e2174-1101-a00.dtsi"
#include "tegra210-platforms/tegra210-ers-keys-e2141-1100-a00.dtsi"
#include "tegra210-platforms/tegra210-ers-sensor-e2160-1000-a00.dtsi"
#include "tegra210-platforms/tegra210-e2141-powermon-e2174-1100-a00.dtsi"
#include "tegra210-platforms/tegra210-ers-extgpio-e2141-1100-a00.dtsi"
#include "tegra132-bowmore-e1971-emc.dtsi"

/ {
	model = "e2141";
	compatible = "nvidia,e2141", "nvidia,tegra132";
	nvidia,boardids = "2141:1100:00;2174:1101:00";
	nvidia,dtsfilename = __FILE__;
	nvidia,proc-boardid = "2141:1100:00";
	nvidia,pmu-boardid = "2174:1101:00";
	#address-cells = <2>;
	#size-cells = <2>;

	chosen {
		bootargs = "tegraid=40.0.0.00.00 vmalloc=256M video=tegrafb console=ttyS0,115200n8";
		linux,initrd-start = <0x82080000>;
		linux,initrd-end = <0x824B5300>;
	};

	serial@70006000 {
		compatible = "nvidia,tegra20-uart";
		console-port;
	};

	serial@70006040 {
		compatible = "nvidia,tegra114-hsuart";
		status = "okay";
	};

	serial@70006200 {
		compatible = "nvidia,tegra114-hsuart";
		status = "okay";
	};

	serial@70006300 {
		compatible = "nvidia,tegra114-hsuart";
		status = "okay";
	};

	i2c@7000c000 {
		clock-frequency = <100000>;

	};

	memory@0x80000000 {
		device_type = "memory";
		reg = <0x0 0x80000000 0x0 0x80000000>;
	};

	spi@7000d400 {
		status = "okay";
		spi-max-frequency = <25000000>;
	};

	spi@7000d800 {
		status = "okay";
		spi-max-frequency = <25000000>;
	};

	spi@7000da00 {
		status = "okay";
		spi-max-frequency = <25000000>;
	};

	xusb@70090000 {
		/* nvidia,uses_external_pmic;
		nvidia,gpio_controls_muxed_ss_lanes; */
		nvidia,gpio_ss1_sata = <0>;
		nvidia,portmap = <0x703>; /* SSP0, SSP1 USB2P0, USB2P1, USBP2 */
		nvidia,ss_portmap = <0x20>; /* SSP0 on USB2P0, SSP1 on USB2P2 */
		nvidia,lane_owner = <6>; /* USB3P0 USB3P1 */
		nvidia,ulpicap = <0>; /* No ulpi support. can we remove */
		/* hsic config values in order defined in structure */
		nvidia,hsic0 = /bits/8 <0x1 0x1 0x8 0xa 0 0 1 0x22 0>;
		status = "okay";
	};

	pcie-controller {
		nvidia,port0_status = <1>;
		nvidia,port1_status = <0>;
		nvidia,hot-plug-gpio = <&gpio TEGRA_GPIO(O, 1) 0>; /* Fix me! */
		nvidia,wake-gpio = <&gpio TEGRA_GPIO(DD, 3) 0>;
		status = "okay";
	};

	dfll@70040084 {
		pwm-pmic-integration {
			pwm-data-gpio = <&gpio TEGRA_GPIO(X, 0) 0>;
		};
	};

	pwm_regulators {
		pwm-regulator@0 {
			standby-gpio = <&gpio TEGRA_GPIO(X, 2) 0>;
		};
	};

	regulators {
		regulator@3 {
			gpio = <&gpio TEGRA_GPIO(H, 2) 0>;
		};

		regulator@4 {
			gpio = <&gpio TEGRA_GPIO(R, 0) 0>;
		};

		regulator@5 {
			gpio = <&gpio TEGRA_GPIO(BB, 3) 0>;
		};

		regulator@7 {
			gpio = <&gpio TEGRA_GPIO(K, 6) 0>;
		};

		vdd_lcd_1v2: regulator@100 {
			compatible = "regulator-fixed-sync";
			reg = <100>;
			regulator-name = "lcd_1v2";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			gpio = <&pca9539_76 10 0>;
			enable-active-high;

			consumers {
				c0 {
					regulator-consumer-supply = "vdd_lcd_1v2_s";
				};
			};
		};

		vdd_cdc_1v2_aud: regulator@101 {
			compatible = "regulator-fixed-sync";
			reg = <101>;
			regulator-name = "vdd_cdc_1v2_aud";
			regulator-min-microvolt = <1200000>;
			regulator-max-microvolt = <1200000>;
			gpio = <&pca9539_76 9 0>;
			enable-active-high;
			startup-delay-us = <250000>;
		};
	};

	gpio-keys {
		home {
			gpios = <&gpio TEGRA_GPIO(Q, 2) GPIO_ACTIVE_LOW>;
		};

		power {
			gpios = <&gpio TEGRA_GPIO(Q, 0) GPIO_ACTIVE_LOW>;
		};

		volume_down {
			gpios = <&gpio TEGRA_GPIO(Q, 7) GPIO_ACTIVE_LOW>;
		};

		volume_up {
			gpios = <&gpio TEGRA_GPIO(I, 1) GPIO_ACTIVE_LOW>;
		};
	};

	i2c@7000d000 {
		max77620@3c {
			regulators {
				sd1 {
					regulator-min-microvolt = <1000000>; /*for max77663 on inter
poser*/
					regulator-max-microvolt = <1000000>; /*the real ouput will b
e 1.2V*/
				};
			};
		};
	};

	i2c@7000c000 {
		iqs253@44 {
			rdy-gpio = <&gpio TEGRA_GPIO(K, 5) GPIO_ACTIVE_LOW>;
			wake-gpio = <&gpio TEGRA_GPIO(W, 3) GPIO_ACTIVE_LOW>;
		};

		rt5639: rt5639@1c {
			compatible = "realtek,rt5639";
			reg = <0x1c>;
		};

		/* T210 interposer use I2C0 for Charger & FG */
		bq2419x_int: battery-charger@6b {
			compatible = "ti,bq2419x";
			reg = <0x6b>;

			interrupt-parent = <&gpio>;
			interrupts = <TEGRA_GPIO(J, 0) 0x0>;
			#extcon-cells = <1>;

			battery_charger_int: charger {
				status = "disabled";
				regulator-name = "batt_regulator";
				regulator-max-microamp = <3000000>;
				ti,watchdog-timeout = <40>;
				ti,rtc-alarm-time = <3600>;
				ti,auto-recharge-time = <1800>;
				ti,disbale-suspend-during-charging;
				ti,charge-voltage-limit-millivolt = <4200>;
				ti,charge-term-current-limit-milliamp = <260>;
				ti,temp-range = <10 15 60>;
				ti,charge-current-limit = <1024 2048 5200>;
				ti,thermal-zone = "battery";
				ti,temp-polling-time-sec = <5>;
				ti,ir-comp-voltage-millivolt = <1>;
				ti,ir-comp-resister-ohm = <70>;
			};

			vbus_int: vbus {
				regulator-name = "vbus_regulator";
				ti,otg-iusb-gpio = <&gpio TEGRA_GPIO(I, 4) 0>;
				consumers {
					c1 {
						regulator-consumer-supply = "usb_vbus";
						regulator-consumer-device = "tegra-ehci.0";
					};
				};
			};
		};

		battery-gauge@55 {
			status = "disabled";
			compatible = "ti,bq27441";
			reg = <0x55>;
			ti,design-capacity = <7800>;
			ti,design-energy = <28314>;
			ti,taper-rate = <167>;
			ti,terminate-voltage = <3150>;
			ti,v-at-chg-term = <4200>;
			ti,tz-name = "battery-temp";
		};
	};

	i2c@7000c500 {
		battery-charger@6b {
			status = "disabled";
		};
	};

	pmc@7000e400 {
		status = "okay";
		nvidia,invert-interrupt;
	};

	power_states: denver_power_states {
		cc4 {
			pmstate = <0x0>;
		};
	};

	udc@7d000000 {
		nvidia,port-otg;
		nvidia,charging-supported;
		nvidia,enable-pmu-vbus-detection;
		nvidia,id-detection-type = <2>;
		extcon-cables = <&bq2419x_int 0>;
		extcon-cable-names = "vbus";
		#extcon-cells = <1>;
		avdd_usb-supply = <&vdd_3v3>;
		avdd_pll_utmip-supply = <&max77620_sd3>;
		usb_bat_chg-supply = <&battery_charger_int>;
		status = "okay";
	};

	otg@7d000000 {
		nvidia,enable-pmu-vbus-detection;
		nvidia,id-detection-type = <2>;
		nvidia,id-detection-gpio = <&max77620 0 0>;
		extcon-cables = <&bq2419x_int 0>;
		extcon-cable-names = "vbus";
		#extcon-cells = <1>;
		usb_vbus-supply = <&vbus_int>;
		status = "okay";
	};

	psy_extcon {
		compatible = "power-supply-extcon";
		power-supply,extcon-dev = "tegra-udc";
		extcon-cables = <&udc 1 &udc 2 &udc 3
				&udc 4 &udc 5 &udc 6
				&udc 7 &udc 8 &udc 9
				&udc 10 &otg 0>;
		extcon-cable-names = "usb-charger", "ta-charger", "maxim-charger",
				"qc2-charger", "downstream-charger","fast-charger",
				"slow-charger", "apple-500ma", "apple-1a",
				"apple-2a", "y-cable";
	};

	bluedroid_pm {
		compatible = "nvidia,tegra-bluedroid_pm";
		id = <0>;
		bluedroid_pm,reset-gpio = <&gpio TEGRA_GPIO(X, 1) 0>;
		bluedroid_pm,host-wake-gpio = <&gpio TEGRA_GPIO(U, 6) 0>;
		bluedroid_pm,ext-wake-gpio = <&gpio TEGRA_GPIO(EE, 1) 0>;
		interrupt-parent = <&gpio>;
		interrupts = <166 0x01>;
	};

	bcm4329_wlan {
		compatible = "nvidia,tegra-bcmdhd-wlan";
		interrupt-parent = <&gpio>;
		interrupts = <165 0x14>;
		wlan-pwr-gpio = <&gpio TEGRA_GPIO(X, 7) 0>;
		wlan-rst-gpio = <&gpio TEGRA_GPIO(CC, 5) 0>;
	};

	sound {
		compatible = "nvidia,tegra-audio-rt5639";
		nvidia,codec_name = "rt5639.0-001c";
		nvidia,codec_dai_name = "rt5639-aif1";
		nvidia,ldo-gpios = <&gpio TEGRA_GPIO(R, 2) GPIO_ACTIVE_HIGH>;
		nvidia,hp-det-gpios = <&gpio TEGRA_GPIO(R, 7) GPIO_ACTIVE_HIGH>;
		nvidia,i2s-param-hifi = <0 1 2 16 48000 2 1536000>;
		nvidia,i2s-param-bt = <1 1 0 16 8000 1 512000>;
		nvidia,i2s-param-baseband = <3 1 2 16 16000 2 1024000>;
		ldoen-supply = <&vdd_cdc_1v2_aud>;
	};
};
