#include "tegra132-bowmore-e1971-1100-a00-00.dts"

/ {
	nvidia,dtsfilename = __FILE__;

	i2c@7000c400 {
		fg_sensor: battery-gauge@0b {
			status = "okay";
		};

		battery-charger@6b {
			charger {
				status = "okay";
			};
		};
	};

	sysedp_batmon_calc {
		status = "okay";
	};

	thermal-zones {
		Battery {
			polling-delay = <0>; /* milliseconds */
			polling-delay-passive = <0>; /* milliseconds */
			thermal-sensors = <&fg_sensor>;
		};
	};
};

