/*
 * arch/arm64/boot/dts/tegra210-loki-e-p2530-0032-e00-00.dts
 *
 * Copyright (c) 2014, NVIDIA CORPORATION.  All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; version 2 of the License.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
 * more details.
 *
 * You should have received a copy of the GNU General Public License along
 * with this program; if not, write to the Free Software Foundation, Inc.,
 * 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
 *
 */

/dts-v1/;

/memreserve/ 0x80000000 0x00020000;

#include "tegra210-ers-common.dtsi"
#include "tegra210-platforms/tegra210-loki-e-p2530-common.dtsi"
#include "tegra210-platforms/tegra210-loki-power-tree-p2530-0999-e00.dtsi"
#include "tegra210-platforms/tegra210-ers-sensor-e2160-1000-a00.dtsi"
#include "tegra210-platforms/tegra210-loki-e-gpio-p2530-0032-e00.dtsi"
#include "tegra210-platforms/tegra210-loki-e-pinmux-p2530-0032-e00.dtsi"
#include "tegra210-platforms/tegra210-loki-e-comms.dtsi"
#include "tegra210-platforms/tegra210-loki-e-pwm-fan.dtsi"
#include "tegra210-platforms/tegra210-loki-sdhci.dtsi"
#include "panel-j-1440-810-5-8.dtsi"
#include "tegra210-platforms/tegra210-ers-hdmi-e2190-1100-a00.dtsi"
#include "tegra210-platforms/tegra210-ers-touch-e1937-1000-a00.dtsi"
#include "tegra210-platforms/tegra210-loki-e-sensor-p2530-0032-e00.dtsi"
#include "tegra210-platforms/tegra210-loki-e-thermal-fan-est.dtsi"
#include "tegra210-platforms/tegra210-loki-e-camera-p2530-0032-e00.dtsi"
#include "tegra210-platforms/tegra210-loki-e-keys-p2530-0032-e00.dtsi"
#include "tegra210-platforms/tegra210-loki-maxim-charger.dtsi"
#include "tegra210-platforms/tegra210-loki-e-powermon.dtsi"

/ {
	model = "loki_e_lte";
	compatible = "nvidia,loki-e", "nvidia,tegra210";
	nvidia,dtsfilename = __FILE__;

	i2c@7000c500 {
		battery-charger@6b {
			charger {
				status = "okay";
				ti,watchdog-timeout = <160>;
				ti,pre-charge-current-limit-milliamp = <768>;
				ti,charge-term-current-limit-milliamp = <384>;
				ti,ir-comp-voltage-millivolt = <112>;
			};
		};

		battery-gauge@55 {
			status = "okay";
		};
	};

	sdhci@700b0600 {
		uhs-mask = <0x60>;
		built-in;
		status = "okay";
	};

	sdhci@700b0400 {
		uhs-mask = <0x1c>;
		status = "okay";
	};

	sdhci@700b0200 {
		uhs-mask = <0x1c>;
		status = "okay";
	};

	sdhci@700b0000 {
		uhs-mask = <0x1c>;
		status = "okay";
	};

	i2c@7000c400 {
		ads1015: ads1015@4a {
			reg = <0x4a>;
			compatible = "ads1015";
			#io-channel-cells = <1>;
		};
	};

	host1x {
		/* tegradc.0 */
		dc@54200000 {
			status = "okay";
			nvidia,dc-flags = <TEGRA_DC_FLAG_ENABLED>;
			nvidia,emc-clk-rate = <204000000>;
			nvidia,cmu-enable = <1>;
			nvidia,low-v-win = <0x2>;
			nvidia,fb-bpp = <32>; /* bits per pixel */
			nvidia,fb-flags = <TEGRA_FB_FLIP_ON_PROBE>;
		};
		/* tegradc.1 */
		dc@54240000 {
			status = "okay";
			nvidia,dc-flags = <TEGRA_DC_FLAG_ENABLED>;
			nvidia,emc-clk-rate = <300000000>;
			nvidia,fb-bpp = <32>; /* bits per pixel */
			nvidia,fb-flags = <TEGRA_FB_FLIP_ON_PROBE>;
		};
		dsi {
			nvidia,dsi-controller-vs = <DSI_VS_1>;
			status = "okay";
			panel-j-1440-810-5-8 {
				nvidia,dsi-dpd-pads = <DSIC_DPD_EN DSID_DPD_EN>;
				nvidia,panel-rst-gpio = <&gpio TEGRA_GPIO(V, 2) 0>; /* PV2 */
				nvidia,panel-bl-pwm-gpio = <&gpio TEGRA_GPIO(V, 0) 0>; /* PV0 */
				nvidia,panel-en-gpio = <&gpio TEGRA_GPIO(V, 1) 0>; /* PV1 */
			};
		};
	};

	spi@7000d400 {
		status = "okay";
		earSmart: earSmart-codec@0 {
			compatible = "adnc,earSmart-codec";
			reg = <0>;
			spi-max-frequency = <6000000>;
			spi-cpha;

			adnc,reset-gpio = <&gpio TEGRA_GPIO(BB, 3) GPIO_ACTIVE_HIGH>;
			adnc,gpiob-gpio = <&gpio TEGRA_GPIO(E, 6) GPIO_ACTIVE_HIGH>;
			adnc,wakeup-gpio = <&gpio TEGRA_GPIO(K, 2) GPIO_ACTIVE_HIGH>;

			adnc,int-gpio = <(-1)>;
			adnc,gpioa-gpio = <(-1)>;
			adnc,enable_hs_uart_intf = <0>;
			adnc,ext_clk_rate = <0>;
			adnc,debounce_timer = <3>;
			adnc,plug_det_enabled = <1>;
			adnc,mic_det_enabled = <1>;

			adnc,gpio_b_irq_type = <4>;
			adnc,cmd_comp_mode = <0>;

			/* Button Control 1 */
			adnc,btn_press_settling_time = <4>;
			adnc,btn_press_polling_rate = <1>;
			adnc,btn_press_det_act = <1>;

			/* Button Control 2 */
			adnc,double_btn_timer = <(-1)>;
			adnc,mic_det_settling_timer = <(-1)>;

			/* Button Control 3 */
			adnc,long_btn_timer = <(-1)>;
			adnc,adc_btn_mute = <(-1)>;

			/* Button Control 4 */
			adnc,valid_levels = <31>;
			adnc,impd_det_timer = <0>;
		};
	};

	sound {
		compatible = "nvidia,tegra-audio-t210ref-mobile-es755";
		nvidia,model = "tegra-snd-t210ref-mobile-es755";
		nvidia,hp-det-gpios = <&gpio TEGRA_GPIO(E, 6) GPIO_ACTIVE_HIGH>;
		nvidia,num-codec-link = <2>;

		nvidia,audio-routing =
			"y Headphone", 	"y OUT",
			"y IN",		"y Mic";

		nvidia,xbar = <&tegra_axbar>;

		nvidia,dai-link-1 {
			cpu-dai = <&tegra_i2s1>;
			codec-dai = <&earSmart>;
			cpu-dai-name = "I2S1";
			codec-dai-name = "earSmart-porta";
			format = "i2s";
			bitclock-slave;
			frame-slave;
			bit-format = "s16_le";
			bclk_ratio = <0>;
			srate = <48000>;
			num-channel = <2>;
			name-prefix = "x";
		};
		nvidia,dai-link-2 {
			cpu-dai = <&tegra_i2s3>;
			codec-dai = <&spdif_dit1>;
			cpu-dai-name = "I2S3";
			codec-dai-name = "dit-hifi";
			format = "dsp_a";
			bitclock-slave;
			frame-slave;
			bit-format = "s32_le";
			bclk_ratio = <0>;
			srate = <8000>;
			num-channel = <2>;
			name-prefix = "y";
		};
	};

	extcon@0 {
		status = "disabled";
	};

	extcon_adc_jack: extcon@1 {
		compatible = "extcon-adc-jack";
		reg = <0x0 0x1>;
		interrupt-parent = <&max77620>;
		interrupts = <0 0 3>;
		extcon-adc-jack,irq-flags = <3>;
		extcon-adc-jack,cable-names = "ID-GND", "ID-NV";
		extcon-adc-jack,states = <0x1    0     20
					  0x2    50    100>;
		io-channels = <&ads1015 4>;
		io-channel-names = "id-resistance";
		#extcon-cells = <1>;
	};

	extcon_cable_xlate: extcon@2 {
		compatible = "extcon-cable-xlate";
		reg = <0x0 0x2>;
		extcon-name = "cable-xlate";
		cable-insert-delay = <500>;
		output-cable-names = "USB", "USB-Host", "ACA-NV";
                extcon-cables = <&bq2419x 0 &extcon_adc_jack 0 &extcon_adc_jack 1>;
		extcon-cable-names = "vbus", "id", "aca-nv";
		cable-states = <0x0	0x7	0x0
				0x1	0x7	0x1
				0x2	0x7	0x2
				0x4	0x7	0x4
				0x5	0x7	0x4>;
		#extcon-cells = <1>;
	};

	udc@7d000000 {
		nvidia,port-otg;
		nvidia,charging-supported;
		nvidia,enable-pmu-vbus-detection;
		nvidia,id-detection-type = <1>;
		nvidia,enable-aca-nv-cable-detection;
		nvidia,dcp-current-limit-ma = <2000>;
		extcon-cables = <&extcon_cable_xlate 0 &extcon_cable_xlate 2>;
		extcon-cable-names = "vbus", "aca-nv";
		#extcon-cells = <1>;
		status = "okay";
	};

	otg@7d000000 {
		nvidia,enable-pmu-vbus-detection;
		nvidia,id-detection-type = <1>;
		nvidia,enable-aca-nv-cable-detection;
		extcon-cables = <&extcon_cable_xlate 0 &extcon_cable_xlate 1 &extcon_cable_xlate 2>;
		extcon-cable-names = "vbus", "id", "aca-nv";
		#extcon-cells = <1>;
		status = "okay";
	};

	psy_extcon {
		status = "okay";
	};

	camera-pcl {
		profiles {
			ov7695@6_0021 {
				use_of_node = "yes";
				vana-supply = <&max77620_ldo3>;
				vif2-supply = <&en_vdd_cam>;
				cam1-gpios = <&gpio TEGRA_GPIO(S, 7) 0>;
			};
		};
	};

	/* Put common control config here */
	xusb_pad_ctl: padctl@0 {
		nvidia,ss_portmap = <0x2130>;
		nvidia,lane_owner = <0xFFFF>; /* Use 0xF to disable lane assign */
		status = "okay";
	};

	xusb@70090000 {
		/* nvidia,uses_external_pmic;
		/* nvidia,gpio_controls_muxed_ss_lanes; */
		nvidia,gpio_ss1_sata = <0>;
		nvidia,ulpicap = <0>; /* No ulpi support. can we remove */
		nvidia,portmap = <0x0500>;
		nvidia,common_padctl = <&xusb_pad_ctl>;
		status = "okay";
	};

	backlight {
		compatible = "pwm-backlight";
		status = "okay";
		pwms = <&tegra_pwm 0 29334>;
	};

};

