#include "tegra132-tn8-p1761-1270-a03.dts"
#include "tegra124-platforms/tegra124-tn8-sysedp-p1761-1270-a02.dtsi"

/ {
	nvidia,dtsfilename = __FILE__;

	i2c@7000c400 {
		fg_sensor: battery-gauge@0b {
			status = "okay";
			onsemi,kernel-threshold-soc = < 2 >;
		};

		battery-charger@6b {
			charger {
				status = "okay";
			};
		};
	};

	thermal-zones {
		Battery {
			thermal-sensors = <&fg_sensor>;
			status = "okay";
                };
	};
};

